SYSCONFIG PERSISTENT=SSPI CONFIG_MODE=SSPI ;

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

FREQUENCY PORT "USBClock_CI" 34.0 MHz ;
FREQUENCY NET "USBClock_CI_c" 34.0 MHz ;
USE SECONDARY NET "USBClock_CI_c" ;

FREQUENCY NET "ClockxC_c" 90.0 MHz ;
USE PRIMARY NET "ClockxC_c" ;

PROHIBIT PRIMARY NET "PC1xSIO_c" ;
PROHIBIT PRIMARY NET "PC2xSIO_c" ;

DEFINE PORT GROUP "USBFifoData_DO"
"USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;

IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "Reset_RBI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[9]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[8]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[7]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[6]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[5]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[4]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[3]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[2]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[1]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI[0]" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

LOCATE COMP "Reset_RBI" SITE "C13" ;// Reset FPGA
LOCATE COMP "Sync1xABI" SITE "A13" ;
LOCATE COMP "SynchOutxSBO" SITE "A15" ;
LOCATE COMP "PE3xSI" SITE "J16" ;// Px0 DVS Reset
LOCATE COMP "FPGARun_SI" SITE "K16" ;// Px1 FPGA Run
LOCATE COMP "PC0xSIO" SITE "T15" ;// Px2 ADC Run
LOCATE COMP "PE2xSI" SITE "R14" ;// Px3 PowerDown
LOCATE COMP "PC1xSIO" SITE "P14" ;// Px4 FPGA_SR_Clock
LOCATE COMP "PC2xSIO" SITE "P16" ;// Px5 FPGA_SR_Latch
LOCATE COMP "PC3xSIO" SITE "P15" ;// Px6 FPGA_SR_Bit
LOCATE COMP "PA7xSIO" SITE "R16" ;// Px7 TS_Reset
LOCATE COMP "PA1xSIO" SITE "T14" ;// Px8 TS_Master
LOCATE COMP "PA0xSIO" SITE "R15" ;// Px9 BiasDiagSel
LOCATE COMP "FXLEDxSI" SITE "A11" ;// SP_LED4
LOCATE COMP "AERMonitorREQxABI" SITE "B9" ;// nReq
LOCATE COMP "AERMonitorACKxSBO" SITE "C8" ;// nAck
LOCATE COMP "AERMonitorAddressxDI[9]" SITE "H3" ;
LOCATE COMP "AERMonitorAddressxDI[8]" SITE "J3" ;
LOCATE COMP "AERMonitorAddressxDI[7]" SITE "G3" ;
LOCATE COMP "AERMonitorAddressxDI[6]" SITE "F3" ;
LOCATE COMP "AERMonitorAddressxDI[5]" SITE "F2" ;
LOCATE COMP "AERMonitorAddressxDI[4]" SITE "F1" ;
LOCATE COMP "AERMonitorAddressxDI[3]" SITE "G2" ;
LOCATE COMP "AERMonitorAddressxDI[2]" SITE "G1" ;
LOCATE COMP "AERMonitorAddressxDI[1]" SITE "H2" ;
LOCATE COMP "AERMonitorAddressxDI[0]" SITE "H1" ;
LOCATE COMP "USBFifoData_DO[15]" SITE "M1" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "L5" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "P3" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "L4" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "K2" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "R1" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "K1" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "N1" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "P2" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "P1" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "R3" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "R2" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "M2" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "L2" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "T3" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "T2" ;
LOCATE COMP "USBFifoChipSelect_SBO" SITE "B14" ;// SLCS
LOCATE COMP "USBFifoWrite_SBO" SITE "H13" ;// SLWR
LOCATE COMP "USBFifoRead_SBO" SITE "N15" ;// SLOESLRD (through Spare2)
LOCATE COMP "USBFifoPktEnd_SBO" SITE "N16" ;// PktEnd (through Spare1)
LOCATE COMP "USBFifoAddress_DO[0]" SITE "F14" ;// FifoAddr0
LOCATE COMP "USBFifoAddress_DO[1]" SITE "H14" ;// FifoAddr1
LOCATE COMP "USBFifoThr0Ready_SI" SITE "E14" ;// THR0_READY
LOCATE COMP "USBFifoThr0Watermark_SI" SITE "L3" ;// THR0_WATERMARK
LOCATE COMP "USBFifoThr1Ready_SI" SITE "B13" ;// THR1_READY
LOCATE COMP "USBFifoThr1Watermark_SI" SITE "K4" ;// THR1_WATERMARK
LOCATE COMP "USBClock_CI" SITE "K3" ;// IFClock (from FX3)
LOCATE COMP "CDVSTestSRRowClockxSO" SITE "D9" ;// RowSRclock
LOCATE COMP "CDVSTestSRColClockxSO" SITE "D11" ;// ColSRclock
LOCATE COMP "CDVSTestSRRowInxSO" SITE "C9" ;// RowSRin
LOCATE COMP "CDVSTestSRColInxSO" SITE "D12" ;// ColSRin
LOCATE COMP "CDVSTestBiasEnablexEO" SITE "D8" ;// biasEnable
LOCATE COMP "CDVSTestChipResetxRBO" SITE "E11" ;// nReset
LOCATE COMP "CDVSTestColMode0xSO" SITE "B11" ;// ColState0
LOCATE COMP "CDVSTestColMode1xSO" SITE "C11" ;// ColState1
LOCATE COMP "CDVSTestBiasDiagSelxSO" SITE "D7" ;// biasDiagSel
LOCATE COMP "CDVSTestBiasBitOutxSI" SITE "A8" ;// BITOUT_B
LOCATE COMP "CDVSTestApsTxGatexSO" SITE "A9" ;// apsTXGate
LOCATE COMP "LED1xSO" SITE "C3" ;// SP_LED1
LOCATE COMP "LED2xSO" SITE "A12" ;// SP_LED2
LOCATE COMP "LED3xSO" SITE "B3" ;// SP_LED3
LOCATE COMP "ADCclockxCO" SITE "B10" ;// ADC_CLOCK
LOCATE COMP "ADCoexEBO" SITE "D10" ;// ADC_READ
LOCATE COMP "ADCstbyxEO" SITE "C10" ;// ADC_WRITE
LOCATE COMP "ADCovrxSI" SITE "A10" ;// ADC_OVR
LOCATE COMP "ADCwordxDI[9]" SITE "J15" ;
LOCATE COMP "ADCwordxDI[8]" SITE "H16" ;
LOCATE COMP "ADCwordxDI[7]" SITE "G15" ;
LOCATE COMP "ADCwordxDI[6]" SITE "G16" ;
LOCATE COMP "ADCwordxDI[5]" SITE "F15" ;
LOCATE COMP "ADCwordxDI[4]" SITE "F16" ;
LOCATE COMP "ADCwordxDI[3]" SITE "E15" ;
LOCATE COMP "ADCwordxDI[2]" SITE "E16" ;
LOCATE COMP "ADCwordxDI[1]" SITE "D16" ;
LOCATE COMP "ADCwordxDI[0]" SITE "C16" ;

CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoChipSelect_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoAddress_DO[0]" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoAddress_DO[1]" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr0Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr0Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr1Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr1Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

OUTPUT PORT "USBFifoData_DO[15]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[14]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[13]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[12]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[11]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[10]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[9]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[8]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[7]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[6]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[5]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[4]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[3]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[2]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[1]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoData_DO[0]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoChipSelect_SBO" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoWrite_SBO" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoRead_SBO" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoPktEnd_SBO" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoAddress_DO[0]" LOAD 1.0 pF ;
OUTPUT PORT "USBFifoAddress_DO[1]" LOAD 1.0 pF ;
OUTPUT PORT "SynchOutxSO" LOAD 1.0 pF ;
OUTPUT PORT "ADCclockxCO" LOAD 1.0 pF ;
OUTPUT PORT "ADCoexEBO" LOAD 1.0 pF ;
OUTPUT PORT "ADCstbyxEO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestSRRowClockxSO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestSRColClockxSO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestSRRowInxSO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestSRColInxSO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestBiasEnablexEO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestChipResetxRBO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestColMode0xSO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestColMode1xSO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestBiasDiagSelxSO" LOAD 1.0 pF ;
OUTPUT PORT "CDVSTestApsTxGatexSO" LOAD 1.0 pF ;
OUTPUT PORT "LED1xSO" LOAD 1.0 pF ;
OUTPUT PORT "LED2xSO" LOAD 1.0 pF ;
OUTPUT PORT "LED3xSO" LOAD 1.0 pF ;
OUTPUT PORT "AERMonitorACKxSBO" LOAD 1.0 pF ;
