#
# Logical Preferences generated for Lattice by Synplify maplat, Build 618R.
#

# Period Constraints 
FREQUENCY PORT "PC1xSIO" 676.5 MHz;
FREQUENCY NET "uClockGen/ClockxC_c" 84.7 MHz;
FREQUENCY PORT "IfClockxCI" 1.2 MHz;
FREQUENCY PORT "PC2xSIO" 1.0 MHz;
FREQUENCY NET "ADCStateMachine_1/StateColxDP[11]" 0.1 MHz;
FREQUENCY NET "ADCStateMachine_1/CDVSTestSRRowInxSO_c" 0.1 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 
BLOCK PATH FROM PORT "USBAER_top_level|PC2xSIO" TO PORT "USBAER_top_level|PC1xSIO";
BLOCK PATH FROM PORT "USBAER_top_level|PC2xSIO" TO PORT "USBAER_top_level|IfClockxCI";
BLOCK PATH FROM PORT "USBAER_top_level|PC1xSIO" TO PORT "USBAER_top_level|PC2xSIO";
BLOCK PATH FROM PORT "USBAER_top_level|PC1xSIO" TO PORT "USBAER_top_level|IfClockxCI";
BLOCK PATH FROM PORT "USBAER_top_level|IfClockxCI" TO PORT "USBAER_top_level|PC2xSIO";
BLOCK PATH FROM PORT "USBAER_top_level|IfClockxCI" TO PORT "USBAER_top_level|PC1xSIO";

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
