//-------------------------------------------------------------------------------
//-- Company: iniLabs
//-- Engineer: Vicente Villanueva
//--
//-- Create Date:    03/11/14
//-- Design Name:    DevBoardUSB3
//-- Module Name:    DevBoardUSB3 - Constraints
//-- Project Name:   DevBoardUSB3
//-- Target Device:  Lattice ECP3 LFE3-17EA
//-- Tool versions:  
//-- Description: top-level file, connects all blocks
//--
//-- 
//--------------------------------------------------------------------------------
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
FREQUENCY NET "ClockxC_c" 100.000000 MHz ;
USE PRIMARY NET "IfClockxCI_c" ;
USE PRIMARY NET "ClockxC_c" ;
#USE PRIMARY NET "TN_clkC0" ;

DEFINE PORT GROUP "FX3FifoData" 
"FX3FifoDataxDIO_15" 
"FX3FifoDataxDIO_14" 
"FX3FifoDataxDIO_13" 
"FX3FifoDataxDIO_12" 
"FX3FifoDataxDIO_11" 
"FX3FifoDataxDIO_10" 
"FX3FifoDataxDIO_9" 
"FX3FifoDataxDIO_8" 
"FX3FifoDataxDIO_7" 
"FX3FifoDataxDIO_6" 
"FX3FifoDataxDIO_5" 
"FX3FifoDataxDIO_4" 
"FX3FifoDataxDIO_3" 
"FX3FifoDataxDIO_2" 
"FX3FifoDataxDIO_1" 
"FX3FifoDataxDIO_0" ;

DEFINE PORT GROUP "TNxfifox" 
"TNxfifoxDIO_18"
"TNxfifoxDIO_17"
"TNxfifoxDIO_16"
"TNxfifoxDIO_15"
"TNxfifoxDIO_14"
"TNxfifoxDIO_13"
"TNxfifoxDIO_12"
"TNxfifoxDIO_11"
"TNxfifoxDIO_10"
"TNxfifoxDIO_9"
"TNxfifoxDIO_8"
"TNxfifoxDIO_7"
"TNxfifoxDIO_6"
"TNxfifoxDIO_5"
"TNxfifoxDIO_4"
"TNxfifoxDIO_3"
"TNxfifoxDIO_2"
"TNxfifoxDIO_1"
"TNxfifoxDIO_0" ;

IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;

LOCATE COMP "SyncInSWxEI" SITE "A3" ;
LOCATE COMP "SyncInCLKxCB" SITE "A2" ;
//LOCATE COMP "SyncIN2xABI" SITE "A4" ;
LOCATE COMP "SyncOutSWxEI" SITE "A14" ;
LOCATE COMP "SyncOut1xSBO" SITE "A13" ;
//LOCATE COMP "SyncOut2xSBO" SITE "A15" ;
LOCATE COMP "PX0xSI" SITE "J16" ; 	//Px0 DVS Reset
LOCATE COMP "PX1xSI" SITE "K16" ;	//Px1 FPGA Run
LOCATE COMP "PX2xSI" SITE "T15" ;	//Px2	ADC Run
LOCATE COMP "PX3xSI" SITE "R14" ;	//Px3	PowerDown
LOCATE COMP "PX4xSI" SITE "P14" ;	//Px4	FPGA_SR_Clock
LOCATE COMP "PX5xSI" SITE "P16" ;	//Px5	FPGA_SR_Latch
LOCATE COMP "PX6xSI" SITE "P15" ;	//Px6	FPGA_SR_Bit
LOCATE COMP "PX7xSI" SITE "R16" ;	//Px7	TS_Reset
LOCATE COMP "PX8xSI" SITE "T14" ;	//Px8	TS_MASTER
LOCATE COMP "PX9xSI" SITE "R15" ;	//Px9	BiasDiagSel
# ---Code for DevUSB3 to FX3
LOCATE COMP "AERMonitorREQxABI" SITE "B9" ;
LOCATE COMP "AERMonitorACKxSBO" SITE "C8" ;
LOCATE COMP "AERMonitorAddressxDI_9" SITE "H3" ;
LOCATE COMP "AERMonitorAddressxDI_8" SITE "J3" ;
LOCATE COMP "AERMonitorAddressxDI_7" SITE "G3" ;
LOCATE COMP "AERMonitorAddressxDI_6" SITE "F3" ;
LOCATE COMP "AERMonitorAddressxDI_5" SITE "F2" ;
LOCATE COMP "AERMonitorAddressxDI_4" SITE "F1" ;
LOCATE COMP "AERMonitorAddressxDI_3" SITE "G2" ;
LOCATE COMP "AERMonitorAddressxDI_2" SITE "G1" ;
LOCATE COMP "AERMonitorAddressxDI_1" SITE "H2" ;
LOCATE COMP "AERMonitorAddressxDI_0" SITE "H1" ;
#----FX3 FIFO
LOCATE COMP "FX3FifoDataxDIO_15" SITE "M1" ;
LOCATE COMP "FX3FifoDataxDIO_14" SITE "L5" ;
LOCATE COMP "FX3FifoDataxDIO_13" SITE "P3" ;
LOCATE COMP "FX3FifoDataxDIO_12" SITE "L4" ;
LOCATE COMP "FX3FifoDataxDIO_11" SITE "K2" ;
LOCATE COMP "FX3FifoDataxDIO_10" SITE "R1" ;
LOCATE COMP "FX3FifoDataxDIO_9" SITE "K1" ;
LOCATE COMP "FX3FifoDataxDIO_8" SITE "N1" ;
LOCATE COMP "FX3FifoDataxDIO_7" SITE "P2" ;
LOCATE COMP "FX3FifoDataxDIO_6" SITE "P1" ;
LOCATE COMP "FX3FifoDataxDIO_5" SITE "R3" ;
LOCATE COMP "FX3FifoDataxDIO_4" SITE "R2" ;
LOCATE COMP "FX3FifoDataxDIO_3" SITE "M2" ;
LOCATE COMP "FX3FifoDataxDIO_2" SITE "L2" ;
LOCATE COMP "FX3FifoDataxDIO_1" SITE "T3" ;
LOCATE COMP "FX3FifoDataxDIO_0" SITE "T2" ;
LOCATE COMP "FX3FifoWritexEBO" SITE "H13" ;  	#SLWR signal in the PCB
LOCATE COMP "FX3FifoReadxEBO" SITE "K14" ;		#SLOESLRD signal in the PCB
LOCATE COMP "FX3FifoPktEndxSBO" SITE "L14" ;	#PktEnd
LOCATE COMP "FX3FifoAddressxDO_0" SITE "F14" ;	#FifoAddr0
LOCATE COMP "FX3FifoAddressxDO_1" SITE "H14" ;	#FifoAddr1
LOCATE COMP "FX3FifoInFullxSBI" SITE "E14" ;	#FULL
LOCATE COMP "FX3FifoInAlmFullxSBI" SITE "L3" ;	#new signal in FX3 #almFULL
LOCATE COMP "FX3FifoInEmptyxSBI" SITE "B13" ;	#EMPTY
LOCATE COMP "FX3FifoInAlmEmptyxSBI" SITE "K4" ; #new signal in FX3 #almEMPTY
LOCATE COMP "FX3FifoSLCSxEBO" SITE "B14"; 		#SLCS
LOCATE COMP "ResetxRBI" SITE "C13" ;  			#ResetFPGA

#----
LOCATE COMP "IfClockxCI" SITE "K3" ;
LOCATE COMP "CDVSTestSRRowClockxSO" SITE "D9" ;
LOCATE COMP "CDVSTestSRColClockxSO" SITE "D11" ;
LOCATE COMP "CDVSTestSRRowInxSO" SITE "C9" ;
LOCATE COMP "CDVSTestSRColInxSO" SITE "D12" ;
LOCATE COMP "CDVSTestBiasEnablexEO" SITE "D8" ;
LOCATE COMP "CDVSTestChipResetxRBO" SITE "E11" ;
LOCATE COMP "CDVSTestColMode0xSO" SITE "B11";	#ColState0 in the PCB
LOCATE COMP "CDVSTestColMode1xSO" SITE "C11";	#ColState1 in the PCB
LOCATE COMP "CDVSTestBiasDiagSelxSO" SITE "D7";
LOCATE COMP "CDVSTestBiasBitOutxSI" SITE "A8" ;
LOCATE COMP "CDVSTestApsTxGatexSO" SITE "A9" ;
LOCATE COMP "LED1xSO" SITE "C3" ;			#SP_LED1 in the PCB
LOCATE COMP "LED2xSO" SITE "A12" ;			#SP_LED2 in the PCB
LOCATE COMP "LED3xSO" SITE "B3" ;			#SP_LED3 in the PCB
LOCATE COMP "LED4xSO" SITE "A11" ;			#SP_LED3 in the PCB

LOCATE COMP "ADCclockxCO" SITE "B10" ;
LOCATE COMP "ADCoexEBO" SITE "C10" ;
LOCATE COMP "ADCstbyxEO" SITE "D10" ;
LOCATE COMP "ADCovrxSI" SITE "A10" ;
LOCATE COMP "ADCwordxDI_9" SITE "J15" ;
LOCATE COMP "ADCwordxDI_8" SITE "H16" ;
LOCATE COMP "ADCwordxDI_7" SITE "G15" ;
LOCATE COMP "ADCwordxDI_6" SITE "G16" ;
LOCATE COMP "ADCwordxDI_5" SITE "F15" ;
LOCATE COMP "ADCwordxDI_4" SITE "F16" ;
LOCATE COMP "ADCwordxDI_3" SITE "E15" ;
LOCATE COMP "ADCwordxDI_2" SITE "E16" ;
LOCATE COMP "ADCwordxDI_1" SITE "D16" ;
LOCATE COMP "ADCwordxDI_0" SITE "C16" ;
LOCATE COMP "SSN" SITE "E13";
LOCATE COMP "SSN_FPGA" SITE "F13";
LOCATE COMP "MOSI" SITE "G14";
LOCATE COMP "MISO" SITE "G13";
LOCATE COMP "SCK" SITE "D13";
#--------------------------------------------------------------------------------------------------------
//#TO DO
//#declare all new IO
//LOCATE COMP "TN_clkC0" SITE "E9";		#CLKC0 in the PCB
//LOCATE COMP "TN_reset" SITE "A6";		#Q8_N in the PCB
//LOCATE COMP "TN_int" SITE "B6";			#TrueNorthinterruption Q8_P in the PCB
//#TrueNorth SPI
//LOCATE COMP "SDI_TN" SITE "C7";			#Q7_N in the PCB
//LOCATE COMP "SDO_TN" SITE "C6";			#Q7_P in the PCB
//LOCATE COMP "SCK_TN" SITE "J4";			#Q6 in the PCB
//#TrueNorth special signals
//LOCATE COMP "TN_Req_out" SITE "A5";			#Q5 in the PCB
//LOCATE COMP "TN_Ack_out" SITE "D6";			#Q4_N in the PCB
//LOCATE COMP "TN_Req_in" SITE "B9";			#nReq in the PCB
//LOCATE COMP "TN_Ack_in" SITE "C8";			#nAck in the PCB (the jumper nAck-nAck chip must be set up)

//#TrueNorth AERoutputs
//LOCATE COMP "AERMonAdd0_TN_IN" SITE "H2";			
//LOCATE COMP "AERMonAdd1_TN_IN" SITE "J3";
//LOCATE COMP "AERMonAdd2_TN_IN" SITE "G2";
//LOCATE COMP "AERMonAdd3_TN_IN" SITE "H3";
//LOCATE COMP "AERMonAdd4_TN_IN" SITE "H4";
//LOCATE COMP "AERMonAdd5_TN_IN" SITE "G4";
//LOCATE COMP "AERMonAdd6_TN_IN" SITE "F2";
//LOCATE COMP "AERMonAdd7_TN_IN" SITE "G3";
//LOCATE COMP "AERMonAdd8_TN_IN" SITE "F3";
//LOCATE COMP "AERMonAdd9_TN_IN" SITE "F1";
//LOCATE COMP "AERMonAdd10_TN_IN" SITE "L2";	#Q17_P in the PCB---------------	
//LOCATE COMP "AERMonAdd11_TN_IN" SITE "M2";	#Q17_N in the PCB	-----------------
//LOCATE COMP "AERMonAdd12_TN_IN" SITE "E4";	#VREF1_7 in the PCB
//LOCATE COMP "AERMonAdd13_TN_IN" SITE "F4";	#VREF2_7 in the PCB
//LOCATE COMP "AERMonAdd14_TN_IN" SITE "E8";	#CLKT0 in the PCB
//LOCATE COMP "AERMonAdd15_TN_IN" SITE "N16";	#Spare1 (sig0) in the PCB 
//LOCATE COMP "AERMonAdd16_TN_IN" SITE "N15";	#Spare2 (sig1) in the PCB
//LOCATE COMP "AERMonAdd17_TN_IN" SITE "N14";	#Spare3 (sig2) in the PCB
//LOCATE COMP "AERMonAdd18_TN_IN" SITE "M14";	#Spare4 (sig3) in the PCB

//#TrueNorth AERinputs
//LOCATE COMP "AERMonAdd0_TN_OUT" SITE "E6";	#Q4_P in the PCB		
//LOCATE COMP "AERMonAdd1_TN_OUT" SITE "E5";	#Q3_N in the PCB
//LOCATE COMP "AERMonAdd2_TN_OUT" SITE "D5";	#Q3_P in the PCB
//LOCATE COMP "AERMonAdd3_TN_OUT" SITE "D2";	#Q2_N in the PCB
//LOCATE COMP "AERMonAdd4_TN_OUT" SITE "D3";	#Q2_P in the PCB
//LOCATE COMP "AERMonAdd5_TN_OUT" SITE "H1";	#Q1_N in the PCB
//LOCATE COMP "AERMonAdd6_TN_OUT" SITE "G1";	#Q1_P in the PCB
//LOCATE COMP "AERMonAdd7_TN_OUT" SITE "A7";	#Q9_N in the PCB
//LOCATE COMP "AERMonAdd8_TN_OUT" SITE "B7";	#Q9_P in the PCB
//LOCATE COMP "AERMonAdd9_TN_OUT" SITE "D1";	#Q10_P in the PCB
//LOCATE COMP "AERMonAdd10_TN_OUT" SITE "E1";	#Q10_N in the PCB		
//LOCATE COMP "AERMonAdd11_TN_OUT" SITE "E3";	#Q11 in the PCB
//LOCATE COMP "AERMonAdd12_TN_OUT" SITE "C5";	#Q12_P in the PCB
//LOCATE COMP "AERMonAdd13_TN_OUT" SITE "B5";	#Q12_N in the PCB
//LOCATE COMP "AERMonAdd14_TN_OUT" SITE "D4";	#Q13_P in the PCB
//LOCATE COMP "AERMonAdd15_TN_OUT" SITE "C4";	#Q13_N in the PCB
//LOCATE COMP "AERMonAdd16_TN_OUT" SITE "J1";	#Q14_P in the PCB
//LOCATE COMP "AERMonAdd17_TN_OUT" SITE "K2";	#Q14_N in the PCB
//LOCATE COMP "AERMonAdd18_TN_OUT" SITE "L1";	#Q16 in the PCB

//#FreePorts
//LOCATE COMP "sigBUS4xDIO" SITE "K4"; 	#almFULL
//LOCATE COMP "sigBUS5xDIO" SITE "L3"; 	#almEMPTY
//LOCATE COMP "sigBUS6xDIO" SITE "T10"; 	#PktEnd
//LOCATE COMP "sigBUS7xDIO" SITE "T9"; 	#SLOESLRD
//LOCATE COMP "sigBUS8xDIO" SITE "T8"; 	#SLWR
//LOCATE COMP "sigBUS9xDIO" SITE "P11"; 	#FifoAddr1
//LOCATE COMP "sigBUS10xDIO" SITE "P9"; 	#FULL
//LOCATE COMP "sigBUS11xDIO" SITE "P10"; 	#FifoAddr0
//LOCATE COMP "sigBUS12xDIO" SITE "P8"; 	#EMPTY
//LOCATE COMP "sigBUS13xDIO" SITE "P7"; 	#SLCS
//LOCATE COMP "sigBUS14xDIO" SITE "C13"; #ResetFPGA
//LOCATE COMP "biasAddrSel" SITE "C12"; #BiasAddrSel



LOCATE COMP "Vref1_7xDIO" SITE "E4"; 
LOCATE COMP "Vref2_7xDIO" SITE "F4"; 
LOCATE COMP "FSYNCxDI" SITE "L13"; 
LOCATE COMP "CLKT0_DIO" SITE "E8"; 
LOCATE COMP "CLKC0_DIO" SITE "E9";
LOCATE COMP "Vref1_6xDIO" SITE "M3"; 
LOCATE COMP "Vref2_6xDIO" SITE "N3";


#--------------------------------------------------------------------------------------------------------
FREQUENCY 100.000000 MHz ;
CLOCK_TO_OUT GROUP "FX3FifoData" 20.000000 ns MIN 0.000000 ns CLKPORT "IfClockxCI" ;
CLOCK_TO_OUT PORT "FX3FifoWritexEBO" 12.000000 ns MIN 0.000000 ns CLKPORT "IfClockxCI" ;
CLOCK_TO_OUT PORT "FX3FifoPktEndxSBO" 15.000000 ns MIN 0.000000 ns CLKPORT "IfClockxCI" ;
INPUT_SETUP PORT "FX3FifoInFullxSBI" 20.000000 ns HOLD 0.000000 ns CLKPORT "IfClockxCI" ;
IOBUF PORT "ResetxRBI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
//IOBUF PORT "Px8SI" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "AERMonitorREQxABI" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#--------------------------------------------------
OUTPUT PORT "FX3FifoDataxDIO_15" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_14" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_13" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_12" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_11" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_10" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_9" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_8" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_7" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_6" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_5" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_4" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_3" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_2" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_1" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoDataxDIO_0" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoWritexEBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoReadxEBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoPktEndxSBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoAddressxDO_1" LOAD 1.000000 pF ;
OUTPUT PORT "FX3FifoAddressxDO_0" LOAD 1.000000 pF ;

#---------------------------------------------
OUTPUT PORT "ADCclockxCO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCoexEBO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCstbyxEO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestSRRowClockxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestSRColClockxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestSRRowInxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestSRColInxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestBiasEnablexEO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestChipResetxRBO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestColMode0xSO" LOAD 1.000000 pF;
OUTPUT PORT "CDVSTestColMode1xSO" LOAD 1.000000 pF;
OUTPUT PORT "CDVSTestBiasDiagSelxSO" LOAD 1.000000 pF;
OUTPUT PORT "CDVSTestApsTxGatexSO" LOAD 1.000000 pF;
#----LEDS
OUTPUT PORT "LED1xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED2xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED3xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED4xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED5xSO" LOAD 1.000000 pF ;
#----
OUTPUT PORT "AERMonitorACKxSBO" LOAD 1.000000 pF ;
OUTPUT PORT "Vref2_2xDIO" LOAD 1.000000 pF ; 
OUTPUT PORT "Vref1_2xDIO" LOAD 1.000000 pF ;
OUTPUT PORT "CLKC1_DIO" LOAD 1.000000 pF ;
OUTPUT PORT "CLKT1_DIO" LOAD 1.000000 pF ;
#----
//IOBUF PORT "TN_clkC0" 	IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "TN_reset" 	IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "TN_int" 	IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//#TrueNorth SPI
//IOBUF PORT "SDI_TN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//OUTPUT PORT "SDO_TN"  LOAD 1.000000 pF ;
//OUTPUT PORT "SCK_TN"  LOAD 1.000000 pF ;
//#TrueNorth special signals
//OUTPUT PORT "TN_Req_out" LOAD 1.000000 pF ;
//OUTPUT PORT "TN_Ack_out" LOAD 1.000000 pF ;
//IOBUF PORT "TN_Req_in" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "TN_Ack_in" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
#------------------------------------------------------------
IOBUF PORT "FX3FifoDataxDIO_15" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_14" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_13" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_12" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_11" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_10" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_9" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_8" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_7" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_6" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_5" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_4" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_3" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_2" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_1" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoDataxDIO_0" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "FX3FifoWritexEBO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 ;
IOBUF PORT "FX3FifoReadxEBO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 ;
IOBUF PORT "FX3FifoPktEndxSBO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 ;
IOBUF PORT "FX3FifoAddressxDO_1" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=8 ;
IOBUF PORT "FX3FifoAddressxDO_0" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=8 ;
IOBUF PORT "AERMonitorACKxSBO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=14 ;
IOBUF PORT "Vref2_2xDIO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "Vref1_2xDIO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CLKC1_DIO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "CLKT1_DIO" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
#---------------------------------------------------------------------
#Sync ports (Jack)
IOBUF PORT "SyncInSWxEI" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SyncIN1xABI" IO_TYPE=LVCMOS33  PULLMODE=UP ;
IOBUF PORT "SyncIN2xABI" IO_TYPE=LVCMOS33  PULLMODE=UP ;
IOBUF PORT "SyncOutSWxEI" IO_TYPE=LVCMOS33  PULLMODE=UP ;
OUTPUT PORT "SyncOut1xSBO" LOAD 1.000000 pF ;
OUTPUT PORT "SyncOut2xSBO" LOAD 1.000000 pF ;
#---------------------------------------------------------------------
IOBUF PORT "ADCclockxCO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "ADCoexEBO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "ADCstbyxEO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestSRRowClockxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestSRColClockxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestSRRowInxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestSRColInxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestBiasEnablexEO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestChipResetxRBO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestColMode0xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestColMode1xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestBiasDiagSelxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "CDVSTestApsTxGatexSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
#------------------------------------------------------------------------
#LEDS
IOBUF PORT "LED1xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "LED2xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "LED3xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "LED4xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "LED5xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
#---------------------------------------------------------------------------
//#TrueNorth AERoutputs
//OUTPUT PORT "AERMonAdd0_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd1_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd2_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd3_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd4_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd5_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd6_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd7_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd8_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd9_TN_OUT"   LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd10_TN_OUT"  LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd11_TN_OUT"  LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd12_TN_OUT"  LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd13_TN_OUT"  LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd14_TN_OUT"  LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd15_TN_OUT"  LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd16_TN_OUT"  LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd17_TN_OUT"  LOAD 1.000000 pF ;
//OUTPUT PORT "AERMonAdd18_TN_OUT"  LOAD 1.000000 pF ;
//#TrueNorth AERinputs
//IOBUF PORT "AERMonAdd0_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;		
//IOBUF PORT "AERMonAdd1_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd2_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd3_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd4_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd5_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd6_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd7_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd8_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd9_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd10_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd11_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd12_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd13_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd14_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd15_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd16_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd17_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
//IOBUF PORT "AERMonAdd18_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
SYSCONFIG PERSISTENT=SSPI ;