NET "ClockxCI" TNM_NET = "ClockxCI";
TIMESPEC "TS_ClockxCI" = PERIOD "ClockxCI" 20.8 ns HIGH 50 %;
OFFSET = IN 5 ns BEFORE "ClockxCI"  ;
OFFSET = OUT 5 ns AFTER "ClockxCI"  ;
#CE_DISABLED#NET "FifoReadxEBO" OFFSET = OUT 2.1 ns AFTER "ClockxCI" HIGH ;
INST "FifoDataxDIO<0>" TNM = "FifoData";
INST "FifoDataxDIO<1>" TNM = "FifoData";
INST "FifoDataxDIO<10>" TNM = "FifoData";
INST "FifoDataxDIO<11>" TNM = "FifoData";
INST "FifoDataxDIO<12>" TNM = "FifoData";
INST "FifoDataxDIO<13>" TNM = "FifoData";
INST "FifoDataxDIO<14>" TNM = "FifoData";
INST "FifoDataxDIO<15>" TNM = "FifoData";
INST "FifoDataxDIO<2>" TNM = "FifoData";
INST "FifoDataxDIO<3>" TNM = "FifoData";
INST "FifoDataxDIO<4>" TNM = "FifoData";
INST "FifoDataxDIO<5>" TNM = "FifoData";
INST "FifoDataxDIO<6>" TNM = "FifoData";
INST "FifoDataxDIO<7>" TNM = "FifoData";
INST "FifoDataxDIO<8>" TNM = "FifoData";
INST "FifoDataxDIO<9>" TNM = "FifoData";
NET "FifoAddressxDO<0>" OFFSET = OUT 15 ns AFTER "ClockxCI"  ;
NET "FifoAddressxDO<1>" OFFSET = OUT 15 ns AFTER "ClockxCI"  ;
NET "FifoOutputEnablexEBO" OFFSET = OUT 10 ns AFTER "ClockxCI"  ;
NET "FifoWritexEBO" OFFSET = OUT 2.7 ns AFTER "ClockxCI"  ;
NET "FifoPktEndxSBO" OFFSET = OUT 6.2 ns AFTER "ClockxCI"  ;
TIMEGRP "FifoData" OFFSET = OUT 11 ns AFTER "ClockxCI"  ;
NET "FifoOutEmptyxSBI" OFFSET = IN 10.3 ns BEFORE "ClockxCI"  ;
TIMEGRP "FifoData" OFFSET = IN 9.8 ns BEFORE "ClockxCI"  ;
NET "FifoInFullxSBI" OFFSET = IN 11.3 ns BEFORE "ClockxCI"  ;
NET "FifoReadxEBO" OFFSET = OUT 2.1 ns AFTER "ClockxCI"  ;
#PACE: Start of Constraints generated by PACE

#PACE: Start of PACE I/O Pin Assignments
NET "AERMonitorACKxSBO"  LOC = "P20" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<0>"  LOC = "P2" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<10>"  LOC = "P13" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<11>"  LOC = "P14" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<12>"  LOC = "P15" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<13>"  LOC = "P16" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<14>"  LOC = "P17" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<15>"  LOC = "P18" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<1>"  LOC = "P3" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<2>"  LOC = "P4" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<3>"  LOC = "P5" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<4>"  LOC = "P6" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<5>"  LOC = "P7" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<6>"  LOC = "P9" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<7>"  LOC = "P10" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<8>"  LOC = "P11" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorAddressxDI<9>"  LOC = "P12" | IOSTANDARD = LVCMOS33 ; 
NET "AERMonitorREQxABI"  LOC = "P19" | IOSTANDARD = LVCMOS33 ; 
NET "AERSnifACKxABI"  LOC = "P22" | IOSTANDARD = LVCMOS33 ; 
NET "AERSnifREQxSBO"  LOC = "P21" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthACKxABI"  LOC = "P120" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<0>"  LOC = "P101" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<10>"  LOC = "P113" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<11>"  LOC = "P114" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<12>"  LOC = "P115" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<13>"  LOC = "P116" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<14>"  LOC = "P117" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<15>"  LOC = "P118" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<1>"  LOC = "P102" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<2>"  LOC = "P103" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<3>"  LOC = "P104" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<4>"  LOC = "P105" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<5>"  LOC = "P106" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<6>"  LOC = "P107" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<7>"  LOC = "P110" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<8>"  LOC = "P111" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthAddressxDO<9>"  LOC = "P112" | IOSTANDARD = LVCMOS33 ; 
NET "AERSynthREQxSBO"  LOC = "P119" | IOSTANDARD = LVCMOS33 ; 
NET "ClockxCI"  LOC = "P32" | IOSTANDARD = LVCMOS33  | BUFG = CLK ; 
NET "ConfigEarlyPaketTimerxSI<0>"  LOC = "P135" | IOSTANDARD = LVCMOS33 ;
NET "ConfigEarlyPaketTimerxSI<1>"  LOC = "P136" | IOSTANDARD = LVCMOS33 ;
NET "ConfigTimestampCounterxSI<0>"  LOC = "P137" | IOSTANDARD = LVCMOS33 ;
NET "ConfigTimestampCounterxSI<1>"  LOC = "P138" | IOSTANDARD = LVCMOS33 ;
NET "FifoAddressxDO<0>"  LOC = "P77" | IOSTANDARD = LVCMOS33 ; 
NET "FifoAddressxDO<1>"  LOC = "P78" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<0>"  LOC = "P45" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<10>"  LOC = "P57" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<11>"  LOC = "P58" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<12>"  LOC = "P59" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<13>"  LOC = "P60" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<14>"  LOC = "P61" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<15>"  LOC = "P64" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<1>"  LOC = "P46" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<2>"  LOC = "P48" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<3>"  LOC = "P49" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<4>"  LOC = "P50" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<5>"  LOC = "P51" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<6>"  LOC = "P52" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<7>"  LOC = "P53" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<8>"  LOC = "P54" | IOSTANDARD = LVCMOS33 ; 
NET "FifoDataxDIO<9>"  LOC = "P56" | IOSTANDARD = LVCMOS33 ; 
NET "FifoInFullxSBI"  LOC = "P82" | IOSTANDARD = LVCMOS33 ; 
NET "FifoOutEmptyxSBI"  LOC = "P81" | IOSTANDARD = LVCMOS33 ; 
NET "FifoOutputEnablexEBO"  LOC = "P75" | IOSTANDARD = LVCMOS33 ; 
NET "FifoPktEndxSBO"  LOC = "P79" | IOSTANDARD = LVCMOS33 ; 
NET "FifoReadxEBO"  LOC = "P88" | IOSTANDARD = LVCMOS33 ; 
NET "FifoWritexEBO"  LOC = "P91" | IOSTANDARD = LVCMOS33 ; 
NET "ResetxRBI"  LOC = "P143" | IOSTANDARD = LVCMOS33 ; 
NET "RunMonitorxSI"  LOC = "P140" | IOSTANDARD = LVCMOS33 ;
NET "RunSynthesizerxSI"  LOC = "P139" | IOSTANDARD = LVCMOS33 ;
NET "SynchOutxSO"  LOC = "P42" | IOSTANDARD = LVCMOS33 ; 
NET "SynchxRI"  LOC = "P43" | IOSTANDARD = LVCMOS33 ;
NET "ResetTimestampsxSI"  LOC = "P92" | IOSTANDARD = LVCMOS33 ;  

#PACE: Start of PACE Area Constraints

#PACE: Start of PACE Prohibit Constraints

#PACE: End of Constraints generated by PACE
