*.class
*.wav
*.jpg
*.hex
*.bix
*.iic
*.xml
*.svg
*.png
*.m
*.gif
*.GIF
*.cdr
*.html
*.txt
*.dat
*.xsvf
*.psd
*.form
host/java/build/built-jar.properties
host/java/build/classes/net/sf/jaer/util/jama/ChangeLog
