BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY NET "ClockxC_c" 90.000000 MHz ;
USE PRIMARY NET "IfClockxCI_c" ;
USE PRIMARY NET "ClockxC_c" ;
DEFINE PORT GROUP "FX2FifoData" "FX2FifoDataxDIO_7" 
"FX2FifoDataxDIO_6" 
"FX2FifoDataxDIO_5" 
"FX2FifoDataxDIO_4" 
"FX2FifoDataxDIO_3" 
"FX2FifoDataxDIO_2" 
"FX2FifoDataxDIO_1" 
"FX2FifoDataxDIO_0" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "FX2FifoAddressxDO_1" SITE "E2" ;
LOCATE COMP "PE2xSI" SITE "B1" ;
LOCATE COMP "FX2FifoInFullxSBI" SITE "L1" ;
LOCATE COMP "ResetxRBI" SITE "G2" ;
LOCATE COMP "SyncInxAI" SITE "C16" ;
LOCATE COMP "SynchOutxSO" SITE "B15" ;
LOCATE COMP "PC0xSIO" SITE "K2" ;
LOCATE COMP "PC1xSIO" SITE "K1" ;
LOCATE COMP "PC2xSIO" SITE "J2" ;
LOCATE COMP "PC3xSIO" SITE "J1" ;
LOCATE COMP "PA3xSIO" SITE "F2" ;
LOCATE COMP "PA7xSIO" SITE "D2" ;
LOCATE COMP "PE3xSI" SITE "B2" ;
LOCATE COMP "FXLEDxSI" SITE "A2" ;
LOCATE COMP "ADCbusyxSI" SITE "A13" ;
LOCATE COMP "AERMonitorREQxABI" SITE "B16" ;
LOCATE COMP "AERMonitorAddressxDI_8" SITE "F16" ;
LOCATE COMP "AERMonitorAddressxDI_7" SITE "G16" ;
LOCATE COMP "AERMonitorAddressxDI_6" SITE "H16" ;
LOCATE COMP "AERMonitorAddressxDI_5" SITE "J16" ;
LOCATE COMP "AERMonitorAddressxDI_4" SITE "K16" ;
LOCATE COMP "AERMonitorAddressxDI_3" SITE "L16" ;
LOCATE COMP "AERMonitorAddressxDI_2" SITE "L15" ;
LOCATE COMP "AERMonitorAddressxDI_1" SITE "M16" ;
LOCATE COMP "AERMonitorAddressxDI_0" SITE "M15" ;
OUTPUT PORT "FX2FifoDataxDIO_7" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoDataxDIO_6" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoDataxDIO_5" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoDataxDIO_4" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoDataxDIO_3" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoDataxDIO_2" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoDataxDIO_1" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoDataxDIO_0" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoWritexEBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoReadxEBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoPktEndxSBO" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoAddressxDO_1" LOAD 1.000000 pF ;
OUTPUT PORT "FX2FifoAddressxDO_0" LOAD 1.000000 pF ;
OUTPUT PORT "SynchOutxSO" LOAD 1.000000 pF ;
#OUTPUT PORT "PA1xSIO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCclockxCO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwritexEBO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCreadxEBO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCconvstxEBO" LOAD 1.000000 pF ;
OUTPUT PORT "ScanClockxSO" LOAD 1.000000 pF ;
OUTPUT PORT "PowerdownxEO" LOAD 1.000000 pF ;
OUTPUT PORT "CochleaResetxRBO" LOAD 1.000000 pF ;
OUTPUT PORT "DataSelxSO" LOAD 1.000000 pF ;
OUTPUT PORT "AddSelxSO" LOAD 1.000000 pF ;
OUTPUT PORT "BiasgenSelxSO" LOAD 1.000000 pF ;
OUTPUT PORT "YbitxSO" LOAD 1.000000 pF ;
OUTPUT PORT "AERkillBitxSO" LOAD 1.000000 pF ;
OUTPUT PORT "VctrlKillBitxSO" LOAD 1.000000 pF ;
OUTPUT PORT "SelAERxSO" LOAD 1.000000 pF ;
OUTPUT PORT "SelInxSO" LOAD 1.000000 pF ;
OUTPUT PORT "DACbitInxSO" LOAD 1.000000 pF ;
OUTPUT PORT "DACClkxSO" LOAD 1.000000 pF ;
OUTPUT PORT "DACnSyncxSBO" LOAD 1.000000 pF ;
OUTPUT PORT "PreampARxSO" LOAD 1.000000 pF ;
OUTPUT PORT "PreampGainRxSO" LOAD 1.000000 pF ;
OUTPUT PORT "PreampGainLxSO" LOAD 1.000000 pF ;
OUTPUT PORT "ResCtrlBit1xSO" LOAD 1.000000 pF ;
OUTPUT PORT "ResCtrlBit2xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED1xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED2xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED3xSO" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_7" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_6" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_5" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_4" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_3" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_2" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_1" LOAD 1.000000 pF ;
OUTPUT PORT "DebugxSIO_0" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonitorACKxSBO" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_11" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_10" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_9" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_8" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_7" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_6" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_5" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_4" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_3" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_2" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_1" LOAD 1.000000 pF ;
OUTPUT PORT "ADCwordxDIO_0" LOAD 1.000000 pF ;
LOCATE COMP "IfClockxCI" SITE "A9" ;
LOCATE COMP "PDxSIO_7" SITE "B5" ;
LOCATE COMP "PDxSIO_6" SITE "A4" ;
LOCATE COMP "PDxSIO_5" SITE "B4" ;
LOCATE COMP "PDxSIO_4" SITE "A3" ;
LOCATE COMP "PDxSIO_3" SITE "C2" ;
LOCATE COMP "PDxSIO_2" SITE "C1" ;
LOCATE COMP "PDxSIO_1" SITE "C3" ;
LOCATE COMP "PDxSIO_0" SITE "D1" ;
LOCATE COMP "SyncbxSI" SITE "N16" ;
LOCATE COMP "SyncbpfoutxSI" SITE "P14" ;
LOCATE COMP "AERMonitorAddressxDI_9" SITE "E16" ;
LOCATE COMP "FX2FifoDataxDIO_7" SITE "M1" ;
LOCATE COMP "FX2FifoDataxDIO_6" SITE "M2" ;
LOCATE COMP "FX2FifoDataxDIO_5" SITE "N1" ;
LOCATE COMP "FX2FifoDataxDIO_4" SITE "N2" ;
LOCATE COMP "FX2FifoDataxDIO_3" SITE "P1" ;
LOCATE COMP "FX2FifoDataxDIO_2" SITE "P2" ;
LOCATE COMP "FX2FifoDataxDIO_1" SITE "R1" ;
LOCATE COMP "FX2FifoDataxDIO_0" SITE "R2" ;
LOCATE COMP "FX2FifoWritexEBO" SITE "A5" ;
LOCATE COMP "FX2FifoReadxEBO" SITE "G1" ;
LOCATE COMP "FX2FifoPktEndxSBO" SITE "E1" ;
LOCATE COMP "FX2FifoAddressxDO_0" SITE "F1" ;
LOCATE COMP "PA1xSIO" SITE "H1" ;
LOCATE COMP "ADCclockxCO" SITE "B13" ;
LOCATE COMP "ADCwritexEBO" SITE "B14" ;
LOCATE COMP "ADCreadxEBO" SITE "A15" ;
LOCATE COMP "ADCconvstxEBO" SITE "A14" ;
LOCATE COMP "ScanClockxSO" SITE "D15" ;
LOCATE COMP "PowerdownxEO" SITE "R16" ;
LOCATE COMP "CochleaResetxRBO" SITE "R15" ;
LOCATE COMP "DataSelxSO" SITE "N15" ;
LOCATE COMP "AddSelxSO" SITE "P16" ;
LOCATE COMP "BiasgenSelxSO" SITE "P15" ;
LOCATE COMP "YbitxSO" SITE "R14" ;
LOCATE COMP "AERkillBitxSO" SITE "R13" ;
LOCATE COMP "VctrlKillBitxSO" SITE "R12" ;
LOCATE COMP "SelAERxSO" SITE "R11" ;
LOCATE COMP "SelInxSO" SITE "R10" ;
LOCATE COMP "DACbitInxSO" SITE "C15" ;
LOCATE COMP "DACClkxSO" SITE "T2" ;
LOCATE COMP "DACnSyncxSBO" SITE "T3" ;
LOCATE COMP "PreampARxSO" SITE "R4" ;
LOCATE COMP "PreampGainRxSO" SITE "R5" ;
LOCATE COMP "PreampGainLxSO" SITE "R7" ;
LOCATE COMP "ResCtrlBit1xSO" SITE "T14" ;
LOCATE COMP "ResCtrlBit2xSO" SITE "T15" ;
LOCATE COMP "LED1xSO" SITE "T8" ;
LOCATE COMP "LED2xSO" SITE "R9" ;
LOCATE COMP "LED3xSO" SITE "R8" ;
LOCATE COMP "DebugxSIO_7" SITE "T4" ;
LOCATE COMP "DebugxSIO_6" SITE "T5" ;
LOCATE COMP "DebugxSIO_5" SITE "T6" ;
LOCATE COMP "DebugxSIO_4" SITE "T7" ;
LOCATE COMP "DebugxSIO_3" SITE "T10" ;
LOCATE COMP "DebugxSIO_2" SITE "T11" ;
LOCATE COMP "DebugxSIO_1" SITE "T12" ;
LOCATE COMP "DebugxSIO_0" SITE "T13" ;
LOCATE COMP "AERMonitorACKxSBO" SITE "D16" ;
LOCATE COMP "ADCwordxDIO_11" SITE "B12" ;
LOCATE COMP "ADCwordxDIO_10" SITE "A12" ;
LOCATE COMP "ADCwordxDIO_9" SITE "A11" ;
LOCATE COMP "ADCwordxDIO_8" SITE "B11" ;
LOCATE COMP "ADCwordxDIO_7" SITE "B10" ;
LOCATE COMP "ADCwordxDIO_6" SITE "A10" ;
LOCATE COMP "ADCwordxDIO_5" SITE "B9" ;
LOCATE COMP "ADCwordxDIO_4" SITE "B8" ;
LOCATE COMP "ADCwordxDIO_3" SITE "A7" ;
LOCATE COMP "ADCwordxDIO_2" SITE "B7" ;
LOCATE COMP "ADCwordxDIO_1" SITE "A6" ;
IOBUF PORT "PreampGainLxSO" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PreampGainRxSO" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PreampARxSO" IO_TYPE=LVCMOS33 PULLMODE=NONE ;

#IOBUF PORT "SynchOutxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ; #DO I NEED THIS?! DOES THIS HELP?!

USE SECONDARY NET "PC2xSIO_c" ;
USE SECONDARY NET "PC1xSIO_c" ;
USE PRIMARY NET "uClockGen/CLKOK" ;
USE PRIMARY NET "uClockGen/CLKOS" ;
USE SECONDARY NET "ResetxRBI_c" ;
USE SECONDARY NET "SynchronizerResetTimestampxSB_i" ;
