SYSCONFIG PERSISTENT=SSPI CONFIG_MODE=SSPI ;

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

// Main clock (input from FX3)
LOCATE COMP "USBClock_CI" SITE "K3" ;// IFClock (from FX3)
//LOCATE COMP "USBClock_CI" SITE "K15" ;// IFClock (from FX3, special clock pin)

// Clock settings
FREQUENCY PORT "USBClock_CI" 80.0 MHz ;
FREQUENCY NET "USBClock_CI_c" 80.0 MHz ;
//USE PRIMARY NET "USBClock_CI_c" ;
USE SECONDARY NET "USBClock_CI_c" ;
FREQUENCY NET "LogicClock_C_c" 80.0 MHz ;
USE PRIMARY NET "LogicClock_C_c" ;

// FX3 controls
LOCATE COMP "Reset_RI" SITE "C13" ;// FPGA Reset

LOCATE COMP "FPGARun_AI" SITE "J16" ;// Px0 FPGA Run

// FX3 USB FIFO (data transmission)
LOCATE COMP "USBFifoData_DO[15]" SITE "M1" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "L5" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "P3" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "L4" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "K2" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "R1" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "K1" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "N1" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "P2" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "P1" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "R3" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "R2" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "M2" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "L2" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "T3" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "T2" ;
LOCATE COMP "USBFifoChipSelect_SBO" SITE "B14" ;// SLCS
LOCATE COMP "USBFifoWrite_SBO" SITE "H13" ;// SLWR
LOCATE COMP "USBFifoRead_SBO" SITE "N15" ;// SLOESLRD (through Spare2)
LOCATE COMP "USBFifoPktEnd_SBO" SITE "H14" ;// PktEnd (through Spare1) (TEMPORARY: exchange with FifoAddr1)
LOCATE COMP "USBFifoAddress_DO[1]" SITE "N16" ;// FifoAddr1 (TEMPORARY: exchange with PktEnd)
LOCATE COMP "USBFifoAddress_DO[0]" SITE "F14" ;// FifoAddr0
LOCATE COMP "USBFifoThr0Ready_SI" SITE "E14" ;// THR0_READY
LOCATE COMP "USBFifoThr0Watermark_SI" SITE "L3" ;// THR0_WATERMARK
LOCATE COMP "USBFifoThr1Ready_SI" SITE "B13" ;// THR1_READY
LOCATE COMP "USBFifoThr1Watermark_SI" SITE "K4" ;// THR1_WATERMARK

DEFINE PORT GROUP "USBFifoData_DO"
"USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;

DEFINE PORT GROUP "USBFifoAddress_DO"
"USBFifoAddress_DO[1]" 
"USBFifoAddress_DO[0]" ;

// FPGA controlled LEDs
LOCATE COMP "LED1_SO" SITE "C3" ;// SP_LED1
LOCATE COMP "LED2_SO" SITE "A12" ;// SP_LED2
LOCATE COMP "LED3_SO" SITE "B3" ;// SP_LED3
LOCATE COMP "LED4_SO" SITE "A11" ;// SP_LED4

// Setup & Hold time specifications
CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT GROUP "USBFifoAddress_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoChipSelect_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr0Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr0Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr1Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr1Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

// Port configuration specifications
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;

OUTPUT ALLPORTS LOAD 1.0 pF ;
