BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY 100.000000 MHz HOLD_MARGIN 1.000000 nS ;
FREQUENCY NET "IfClockxCI_c" 100.000000 MHz ;

USE PRIMARY NET "IfClockxCI_c" ;

DEFINE PORT GROUP "FX3fifoTNx" 
"FX3fifoTNxDIO_18" 
"FX3fifoTNxDIO_17" 
"FX3fifoTNxDIO_16" 
"FX3fifoTNxDIO_15" 
"FX3fifoTNxDIO_14" 
"FX3fifoTNxDIO_13" 
"FX3fifoTNxDIO_12" 
"FX3fifoTNxDIO_11" 
"FX3fifoTNxDIO_10" 
"FX3fifoTNxDIO_9" 
"FX3fifoTNxDIO_8" 
"FX3fifoTNxDIO_7" 
"FX3fifoTNxDIO_6" 
"FX3fifoTNxDIO_5" 
"FX3fifoTNxDIO_4" 
"FX3fifoTNxDIO_3" 
"FX3fifoTNxDIO_2" 
"FX3fifoTNxDIO_1" 
"FX3fifoTNxDIO_0" ;

LOCATE COMP "IfClockxCI" SITE "K3" ;

#--SPI
LOCATE COMP "SSN" SITE "E13" ;
LOCATE COMP "SSN_FPGA" SITE "F13" ;
LOCATE COMP "MOSI" SITE "G14" ;
LOCATE COMP "MISO" SITE "G13" ;
LOCATE COMP "SCK" SITE "D13" ;

#--BIAS
LOCATE COMP "CDVSTestSRRowClockxSO" SITE "D9" ;
LOCATE COMP "CDVSTestSRColClockxSO" SITE "D11" ;
LOCATE COMP "CDVSTestSRRowInxSO" SITE "C9" ;
LOCATE COMP "CDVSTestSRColInxSO" SITE "D12" ;
LOCATE COMP "CDVSTestBiasEnablexEO" SITE "D8" ;
LOCATE COMP "CDVSTestChipResetxRBO" SITE "E11" ;
LOCATE COMP "CDVSTestColMode0xSO" SITE "B11" ;#ColState0 in the PCB
LOCATE COMP "CDVSTestColMode1xSO" SITE "C11" ;#ColState1 in the PCB
LOCATE COMP "CDVSTestBiasDiagSelxSO" SITE "D7" ;
LOCATE COMP "CDVSTestBiasBitOutxSI" SITE "A8" ;
LOCATE COMP "CDVSTestApsTxGatexSO" SITE "A9" ;

#--LED SIGNALS FLAGS
LOCATE COMP "LED1xSO" SITE "C3" ;#SP_LED1 in the PCB
LOCATE COMP "LED2xSO" SITE "A12" ;#SP_LED2 in the PCB
LOCATE COMP "LED3xSO" SITE "B3" ;#SP_LED3 in the PCB
LOCATE COMP "LED4xSO" SITE "C8" ;#nAck in the PCB
LOCATE COMP "LED5xSO" SITE "B9" ;#nRequest in the PCB

#--CONFIG FPGA
LOCATE COMP "Px0SIO" SITE "T11" ;
LOCATE COMP "Px1SIO" SITE "T12" ;
LOCATE COMP "Px2SIO" SITE "P12" ;
LOCATE COMP "Px3SIO" SITE "R14" ;
LOCATE COMP "Px4SIO" SITE "P14" ;
LOCATE COMP "Px5SIO" SITE "P16" ;
LOCATE COMP "Px6SIO" SITE "P15" ;
LOCATE COMP "Px7SIO" SITE "R16" ;
LOCATE COMP "Px8SI" SITE "T14" ;
LOCATE COMP "Px9SIO" SITE "R15" ;


#TrueNorth AERoutputs
LOCATE COMP "AERMonAdd0_TN_IN" SITE "H2" ;
LOCATE COMP "AERMonAdd1_TN_IN" SITE "J3" ;
LOCATE COMP "AERMonAdd2_TN_IN" SITE "G2" ;
LOCATE COMP "AERMonAdd3_TN_IN" SITE "H3" ;
LOCATE COMP "AERMonAdd4_TN_IN" SITE "H4" ;
LOCATE COMP "AERMonAdd5_TN_IN" SITE "G4" ;
LOCATE COMP "AERMonAdd6_TN_IN" SITE "F2" ;
LOCATE COMP "AERMonAdd7_TN_IN" SITE "G3" ;
LOCATE COMP "AERMonAdd8_TN_IN" SITE "F3" ;
LOCATE COMP "AERMonAdd9_TN_IN" SITE "F1" ;
LOCATE COMP "AERMonAdd10_TN_IN" SITE "M2" ;#Q16_N in the PCB		
LOCATE COMP "AERMonAdd11_TN_IN" SITE "L2" ;#Q16_P in the PCB
LOCATE COMP "AERMonAdd12_TN_IN" SITE "E4" ;#VREF1_7 in the PCB
LOCATE COMP "AERMonAdd13_TN_IN" SITE "F4" ;#VREF2_7 in the PCB
LOCATE COMP "AERMonAdd14_TN_IN" SITE "E8" ;#CLKT0 in the PCB
LOCATE COMP "AERMonAdd15_TN_IN" SITE "N16" ;#Spare1 (sig0) in the PCB 
LOCATE COMP "AERMonAdd16_TN_IN" SITE "N15" ;#Spare2 (sig1) in the PCB
LOCATE COMP "AERMonAdd17_TN_IN" SITE "N14" ;#Spare3 (sig2) in the PCB
LOCATE COMP "AERMonAdd18_TN_IN" SITE "M14" ;#Spare4 (sig3) in the PCB
#TrueNorth AERinputs
LOCATE COMP "AERMonAdd0_TN_OUT" SITE "E6" ;#Q4_P in the PCB		
LOCATE COMP "AERMonAdd1_TN_OUT" SITE "E5" ;#Q3_N in the PCB
LOCATE COMP "AERMonAdd2_TN_OUT" SITE "D5" ;#Q3_P in the PCB
LOCATE COMP "AERMonAdd3_TN_OUT" SITE "D2" ;#Q2_N in the PCB
LOCATE COMP "AERMonAdd4_TN_OUT" SITE "D3" ;#Q2_P in the PCB
LOCATE COMP "AERMonAdd5_TN_OUT" SITE "H1" ;#Q1_N in the PCB
LOCATE COMP "AERMonAdd6_TN_OUT" SITE "G1" ;#Q1_P in the PCB
LOCATE COMP "AERMonAdd7_TN_OUT" SITE "A7" ;#Q9_N in the PCB
LOCATE COMP "AERMonAdd8_TN_OUT" SITE "B7" ;#Q9_P in the PCB
LOCATE COMP "AERMonAdd9_TN_OUT" SITE "D1" ;#Q10_P in the PCB
LOCATE COMP "AERMonAdd10_TN_OUT" SITE "E1" ;#Q10_N in the PCB		
LOCATE COMP "AERMonAdd11_TN_OUT" SITE "E3" ;#Q11 in the PCB
LOCATE COMP "AERMonAdd12_TN_OUT" SITE "C5" ;#Q12_P in the PCB
LOCATE COMP "AERMonAdd13_TN_OUT" SITE "B5" ;#Q12_N in the PCB
LOCATE COMP "AERMonAdd14_TN_OUT" SITE "D4" ;#Q13_P in the PCB
LOCATE COMP "AERMonAdd15_TN_OUT" SITE "C4" ;#Q13_N in the PCB
LOCATE COMP "AERMonAdd16_TN_OUT" SITE "J1" ;#Q14_P in the PCB
LOCATE COMP "AERMonAdd17_TN_OUT" SITE "K2" ;#Q14_N in the PCB
LOCATE COMP "AERMonAdd18_TN_OUT" SITE "L1" ;#Q15 in the PCB

#declare all new IO
LOCATE COMP "TN_clkC0" SITE "E9" ;#CLKC0 in the PCB
LOCATE COMP "TN_reset" SITE "A6" ;#Q8_N in the PCB
LOCATE COMP "TN_int" SITE "B6" ;#TrueNorthinterruption Q8_P in the PCB

#TrueNorth SPI
LOCATE COMP "SDI_TN" SITE "C7" ;#Q7_N in the PCB
LOCATE COMP "SDO_TN" SITE "C6" ;#Q7_P in the PCB
LOCATE COMP "SCK_TN" SITE "J4" ;#Q6 in the PCB

#TrueNorth special signals
LOCATE COMP "TN_Req_out" SITE "A5" ;#Q5 in the PCB
LOCATE COMP "TN_Req_in" SITE "B9" ;#Q5 in the PCB
LOCATE COMP "TN_Ack_out" SITE "D6" ;#Q4_N in the PCB
LOCATE COMP "TN_Ack_in" SITE "C8" ;#nAck in the PCB (the jumper nAck-nAck chip must be set up)

#--------------------------------------------------------------------------------------------------------
FREQUENCY 100.000000 MHz ;
CLOCK_TO_OUT GROUP "FX3FifoData" 20.000000 ns MIN 0.000000 ns CLKPORT "IfClockxCI" ;
CLOCK_TO_OUT PORT "FX3FifoWritexEBO" 12.000000 ns MIN 0.000000 ns CLKPORT "IfClockxCI" ;
CLOCK_TO_OUT PORT "FX3FifoPktEndxSBO" 15.000000 ns MIN 0.000000 ns CLKPORT "IfClockxCI" ;
INPUT_SETUP PORT "FX3FifoInFullxSBI" 20.000000 ns HOLD 0.000000 ns CLKPORT "IfClockxCI" ;
IOBUF PORT "ResetxRBI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "Px8SI" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "AERMonitorREQxABI" IO_TYPE=LVCMOS33 PULLMODE=UP ;

#--BIAS
OUTPUT PORT "CDVSTestSRRowClockxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestSRColClockxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestSRRowInxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestSRColInxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestBiasEnablexEO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestChipResetxRBO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestColMode0xSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestColMode1xSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestBiasDiagSelxSO" LOAD 1.000000 pF ;
OUTPUT PORT "CDVSTestApsTxGatexSO" LOAD 1.000000 pF ;

#----LEDS
OUTPUT PORT "LED1xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED2xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED3xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED4xSO" LOAD 1.000000 pF ;
OUTPUT PORT "LED5xSO" LOAD 1.000000 pF ;

#--Special signals
IOBUF PORT "TN_clkC0" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "TN_reset" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "TN_int" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
#TrueNorth SPI SLAVE
IOBUF PORT "SDI_TN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
OUTPUT PORT "SDO_TN" LOAD 1.000000 pF ;
IOBUF PORT "SCK_TN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
#TrueNorth special signals
OUTPUT PORT "TN_Req_out" LOAD 1.000000 pF ;
OUTPUT PORT "TN_Ack_out" LOAD 1.000000 pF ;
IOBUF PORT "TN_Req_in" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "TN_Ack_in" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;

#--FIFO TN out
OUTPUT PORT "AERMonAdd0_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd1_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd2_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd3_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd4_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd5_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd6_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd7_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd8_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd9_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd10_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd11_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd12_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd13_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd14_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd15_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd16_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd17_TN_OUT" LOAD 1.000000 pF ;
OUTPUT PORT "AERMonAdd18_TN_OUT" LOAD 1.000000 pF ;

#--FIFO TN in
IOBUF PORT "AERMonAdd0_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd1_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd2_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd3_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd4_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd5_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd6_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd7_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd8_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd9_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd10_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd11_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd12_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd13_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd14_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd15_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd16_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd17_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;
IOBUF PORT "AERMonAdd18_TN_IN" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=8 ;


SYSCONFIG PERSISTENT=SSPI ;