#
# Logical Preferences generated for Lattice by Synplify maplat, Build 1062R.
#

# Period Constraints 
#FREQUENCY PORT "Clock_CI" 171.5 MHz;
#FREQUENCY NET "State_DP[3]" 171.5 MHz;
#FREQUENCY NET "State_DP[2]" 171.5 MHz;
#FREQUENCY NET "State_DP[1]" 171.5 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
