// Global configuration
SYSCONFIG PERSISTENT=SSPI CONFIG_MODE=SSPI CONFIG_IOVOLTAGE=1.8 ;

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

// Global port configuration
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
OUTPUT ALLPORTS LOAD 1.0 pF ;

// Bank voltages
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 1.8 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 1.8 V;
BANK 8 VCCIO 1.8 V;

// Main clock (input from FX3)
LOCATE COMP "USBClock_CI" SITE "N19" ;// IFClock (from FX3)
IOBUF PORT "USBClock_CI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;

// Clock settings
FREQUENCY PORT "USBClock_CI" 100.0 MHz ;

FREQUENCY NET "USBClock_CI_c" 100.0 MHz ;
USE PRIMARY NET "USBClock_CI_c" ;

FREQUENCY NET "LogicClock_C" 200.0 MHz ;
USE PRIMARY NET "LogicClock_C" ;

// FX3 controls
LOCATE COMP "Reset_RI" SITE "AB17" ;// FPGA Reset
IOBUF PORT "Reset_RI" IO_TYPE=LVCMOS18 PULLMODE=UP ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPISlaveSelect_ABI" SITE "U15" ;// FPGA SPI SlaveSelect (active-low)
IOBUF PORT "SPISlaveSelect_ABI" IO_TYPE=LVCMOS18 PULLMODE=UP ;
INPUT_SETUP PORT "SPISlaveSelect_ABI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIClock_AI" SITE "T22" ;// FPGA SPI Clock
IOBUF PORT "SPIClock_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIClock_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIMOSI_AI" SITE "T18" ;// FPGA SPI MOSI
IOBUF PORT "SPIMOSI_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIMOSI_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIMISO_DZO" SITE "T19" ;// FPGA SPI MISO
IOBUF PORT "SPIMISO_DZO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "SPIMISO_DZO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// FX3 USB FIFO (data transmission)
LOCATE COMP "USBFifoChipSelect_SBO" SITE "U22" ;// SLCS
IOBUF PORT "USBFifoChipSelect_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoChipSelect_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoWrite_SBO" SITE "U20" ;// SLWR
IOBUF PORT "USBFifoWrite_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoRead_SBO" SITE "U19" ;// SLOESLRD
IOBUF PORT "USBFifoRead_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoPktEnd_SBO" SITE "V22" ;// PktEnd
IOBUF PORT "USBFifoPktEnd_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr0Ready_SI" SITE "U18" ;// THR0_READY
IOBUF PORT "USBFifoThr0Ready_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr0Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr0Watermark_SI" SITE "V17" ;// THR0_WATERMARK
IOBUF PORT "USBFifoThr0Watermark_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr0Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr1Ready_SI" SITE "U16" ;// THR1_READY
IOBUF PORT "USBFifoThr1Ready_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr1Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr1Watermark_SI" SITE "W22" ;// THR1_WATERMARK
IOBUF PORT "USBFifoThr1Watermark_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr1Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoAddress_DO[1]" SITE "W18" ;// FifoAddr1
LOCATE COMP "USBFifoAddress_DO[0]" SITE "W17" ;// FifoAddr0
DEFINE PORT GROUP "USBFifoAddress_DO"
"USBFifoAddress_DO[1]" 
"USBFifoAddress_DO[0]" ;
IOBUF GROUP "USBFifoAddress_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "USBFifoAddress_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoData_DO[15]" SITE "T14" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "T15" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "T16" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "R18" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "R19" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "R20" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "R21" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "R22" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "R16" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "R14" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "P22" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "P20" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "P19" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "P17" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "N20" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "N18" ;
DEFINE PORT GROUP "USBFifoData_DO"
"USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;
IOBUF GROUP "USBFifoData_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

// FPGA controlled LEDs
LOCATE COMP "LED1_SO" SITE "E6" ;// SP_LED1
IOBUF PORT "LED1_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED1_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED2_SO" SITE "E10" ;// SP_LED2
IOBUF PORT "LED2_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED2_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "LED3_SO" SITE "E7" ;// SP_LED3
IOBUF PORT "LED3_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED3_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED4_SO" SITE "E9" ;// SP_LED4
IOBUF PORT "LED4_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED4_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;
