#
# Logical Preferences generated for Lattice by Synplify maplat, Build 700R.
#

# Period Constraints 
FREQUENCY NET "uClockGen/ClockxC_c" 269.4 MHz;
FREQUENCY PORT "IfClockxCI" 257.7 MHz;
FREQUENCY NET "ADCStateMachine_1/StateColxDP[11]" 257.7 MHz;
FREQUENCY NET "ADCStateMachine_1/CDVSTestSRRowInxSO_c" 257.7 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 



# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
