SYSCONFIG PERSISTENT=SSPI CONFIG_MODE=SSPI ;

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

// Main clock (input from FX3)
LOCATE COMP "USBClock_CI" SITE "K3" ;// IFClock (from FX3)
//LOCATE COMP "USBClock_CI" SITE "K15" ;// IFClock (from FX3, special clock pin)

// Clock settings
FREQUENCY PORT "USBClock_CI" 80.0 MHz ;
FREQUENCY NET "USBClock_CI_c" 80.0 MHz ;
//USE PRIMARY NET "USBClock_CI_c" ;
USE SECONDARY NET "USBClock_CI_c" ;
FREQUENCY NET "LogicClock_C_c" 240.0 MHz ;
USE PRIMARY NET "LogicClock_C_c" ;

// FX3 controls
LOCATE COMP "Reset_RI" SITE "C13" ;// FPGA Reset

LOCATE COMP "FPGARun_AI" SITE "J16" ;// Px0 FPGA Run
LOCATE COMP "DVSRun_AI" SITE "K16" ;// Px1 DVS Run
LOCATE COMP "ADCRun_AI" SITE "T15" ;// Px2 ADC Run
LOCATE COMP "IMURun_AI" SITE "R14" ;// Px3 IMU Run
LOCATE COMP "FPGAShiftRegClock_CI" SITE "P14" ;// Px4 FPGA ShiftRegister Clock
LOCATE COMP "FPGAShiftRegLatch_SI" SITE "P16" ;// Px5 FPGA ShiftRegister Latch
LOCATE COMP "FPGAShiftRegBitIn_DI" SITE "P15" ;// Px6 FPGA ShiftRegister BitIn
LOCATE COMP "FPGATimestampReset_AI" SITE "R16" ;// Px7 Timestamp Reset
LOCATE COMP "BiasEnable_SI" SITE "T14" ;// Px8 BiasEnable
LOCATE COMP "BiasDiagSelect_SI" SITE "R15" ;// Px9 BiasDiagSelect

// FX3 USB FIFO (data transmission)
LOCATE COMP "USBFifoData_DO[15]" SITE "M1" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "L5" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "P3" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "L4" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "K2" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "R1" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "K1" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "N1" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "P2" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "P1" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "R3" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "R2" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "M2" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "L2" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "T3" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "T2" ;
LOCATE COMP "USBFifoChipSelect_SBO" SITE "B14" ;// SLCS
LOCATE COMP "USBFifoWrite_SBO" SITE "H13" ;// SLWR
LOCATE COMP "USBFifoRead_SBO" SITE "N15" ;// SLOESLRD (through Spare2)
LOCATE COMP "USBFifoPktEnd_SBO" SITE "H14" ;// PktEnd (through Spare1) (TEMPORARY: exchange with FifoAddr1)
LOCATE COMP "USBFifoAddress_DO[1]" SITE "N16" ;// FifoAddr1 (TEMPORARY: exchange with PktEnd)
LOCATE COMP "USBFifoAddress_DO[0]" SITE "F14" ;// FifoAddr0
LOCATE COMP "USBFifoThr0Ready_SI" SITE "E14" ;// THR0_READY
LOCATE COMP "USBFifoThr0Watermark_SI" SITE "L3" ;// THR0_WATERMARK
LOCATE COMP "USBFifoThr1Ready_SI" SITE "B13" ;// THR1_READY
LOCATE COMP "USBFifoThr1Watermark_SI" SITE "K4" ;// THR1_WATERMARK

DEFINE PORT GROUP "USBFifoData_DO"
"USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;

DEFINE PORT GROUP "USBFifoAddress_DO"
"USBFifoAddress_DO[1]" 
"USBFifoAddress_DO[0]" ;

// FPGA controlled LEDs
LOCATE COMP "LED1_SO" SITE "C3" ;// SP_LED1
LOCATE COMP "LED2_SO" SITE "A12" ;// SP_LED2
LOCATE COMP "LED3_SO" SITE "B3" ;// SP_LED3
LOCATE COMP "LED4_SO" SITE "A11" ;// SP_LED4

// Bias configuration
LOCATE COMP "ChipBiasEnable_SO" SITE "D8" ;
LOCATE COMP "ChipBiasDiagSelect_SO" SITE "D7" ;
//LOCATE COMP "ChipBiasBitOut_DI" SITE "A8" ;// from chip (debug)

// DVS data (AER bus)
LOCATE COMP "DVSAERData_DI[9]" SITE "H3" ;
LOCATE COMP "DVSAERData_DI[8]" SITE "J3" ;
LOCATE COMP "DVSAERData_DI[7]" SITE "G3" ;
LOCATE COMP "DVSAERData_DI[6]" SITE "F3" ;
LOCATE COMP "DVSAERData_DI[5]" SITE "F2" ;
LOCATE COMP "DVSAERData_DI[4]" SITE "F1" ;
LOCATE COMP "DVSAERData_DI[3]" SITE "G2" ;
LOCATE COMP "DVSAERData_DI[2]" SITE "G1" ;
LOCATE COMP "DVSAERData_DI[1]" SITE "H2" ;
LOCATE COMP "DVSAERData_DI[0]" SITE "H1" ;
LOCATE COMP "DVSAERReq_ABI" SITE "B9" ;
LOCATE COMP "DVSAERAck_SBO" SITE "C8" ;
LOCATE COMP "DVSAERReset_SBO" SITE "E11" ;// nReset on chip

DEFINE PORT GROUP "DVSAERData_DI"
"DVSAERData_DI[9]" 
"DVSAERData_DI[8]" 
"DVSAERData_DI[7]" 
"DVSAERData_DI[6]" 
"DVSAERData_DI[5]" 
"DVSAERData_DI[4]" 
"DVSAERData_DI[3]" 
"DVSAERData_DI[2]" 
"DVSAERData_DI[1]" 
"DVSAERData_DI[0]" ;

// APS data (chip)
LOCATE COMP "APSChipRowSRClock_SO" SITE "D9" ;
LOCATE COMP "APSChipRowSRIn_SO" SITE "C9" ;
LOCATE COMP "APSChipColSRClock_SO" SITE "D11" ;
LOCATE COMP "APSChipColSRIn_SO" SITE "D12" ;
LOCATE COMP "APSChipColState0_SO" SITE "B11" ;
LOCATE COMP "APSChipColState1_SO" SITE "C11" ;
LOCATE COMP "APSChipTXGate_SO" SITE "A9" ;

// APS data (external ADC)
LOCATE COMP "APSADCData_DI[9]" SITE "J15" ;
LOCATE COMP "APSADCData_DI[8]" SITE "H16" ;
LOCATE COMP "APSADCData_DI[7]" SITE "G15" ;
LOCATE COMP "APSADCData_DI[6]" SITE "G16" ;
LOCATE COMP "APSADCData_DI[5]" SITE "F15" ;
LOCATE COMP "APSADCData_DI[4]" SITE "F16" ;
LOCATE COMP "APSADCData_DI[3]" SITE "E15" ;
LOCATE COMP "APSADCData_DI[2]" SITE "E16" ;
LOCATE COMP "APSADCData_DI[1]" SITE "D16" ;
LOCATE COMP "APSADCData_DI[0]" SITE "C16" ;
LOCATE COMP "APSADCOverflow_SI" SITE "A10" ;
LOCATE COMP "APSADCClock_CO" SITE "B10" ;
LOCATE COMP "APSADCOutputEnable_SBO" SITE "C10" ;
LOCATE COMP "APSADCStandby_SO" SITE "D10" ;

DEFINE PORT GROUP "APSADCData_DI"
"APSADCData_DI[9]" 
"APSADCData_DI[8]" 
"APSADCData_DI[7]" 
"APSADCData_DI[6]" 
"APSADCData_DI[5]" 
"APSADCData_DI[4]" 
"APSADCData_DI[3]" 
"APSADCData_DI[2]" 
"APSADCData_DI[1]" 
"APSADCData_DI[0]" ;

// IMU (InvenSense MPU 6X50)
LOCATE COMP "IMUClock_ZO" SITE "L16" ;
LOCATE COMP "IMUData_ZIO" SITE "M16" ;
LOCATE COMP "IMUInterrupt_AI" SITE "L15" ;

// Multi-camera time synchronization
LOCATE COMP "SyncOutClock_CO" SITE "A13" ;
LOCATE COMP "SyncOutSwitch_AI" SITE "A14" ;
LOCATE COMP "SyncOutSignal_SO" SITE "A15" ;
LOCATE COMP "SyncInClock_CI" SITE "A2" ;
LOCATE COMP "SyncInSwitch_AI" SITE "A3" ;
LOCATE COMP "SyncInSignal_SI" SITE "A4" ;

// Setup & Hold time specifications
CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT GROUP "USBFifoAddress_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoChipSelect_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr0Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr0Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr1Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoThr1Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

// Port configuration specifications
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;

OUTPUT ALLPORTS LOAD 1.0 pF ;
