// Global configuration
SYSCONFIG PERSISTENT=SSPI CONFIG_MODE=SSPI CONFIG_IOVOLTAGE=1.8 ;

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

// Global port configuration
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
OUTPUT ALLPORTS LOAD 1.0 pF ;

// Bank voltages
BANK 0 VCCIO 3.3 V; // VARIABLE: 3.3, 1.8, 1.2
BANK 1 VCCIO 3.3 V; // VARIABLE: 3.3, 1.8, 1.2
BANK 2 VCCIO 3.3 V; // VARIABLE: 3.3, 1.8, 1.2
BANK 3 VCCIO 1.8 V; // FIXED
BANK 6 VCCIO 3.3 V; // FIXED
BANK 7 VCCIO 1.8 V; // VARIABLE: 3.3, 1.8, 1.2
BANK 8 VCCIO 1.8 V; // FIXED

// Main clock (input from FX3)
LOCATE COMP "USBClock_CI" SITE "N19" ;// IFClock (from FX3)
IOBUF PORT "USBClock_CI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;

// Clock settings
FREQUENCY PORT "USBClock_CI" 100.0 MHz ;

FREQUENCY NET "USBClock_CI_c" 100.0 MHz ;
USE PRIMARY NET "USBClock_CI_c" ;

FREQUENCY NET "LogicClock_C" 150.0 MHz ;
USE PRIMARY NET "LogicClock_C" ;

FREQUENCY NET "ADCClock_C" 30.0 MHz ;
USE PRIMARY NET "ADCClock_C" ;

// FX3 controls
LOCATE COMP "Reset_RI" SITE "N20" ;// FPGA Reset
IOBUF PORT "Reset_RI" IO_TYPE=LVCMOS18 PULLMODE=UP ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "ADCClock_C" ;

LOCATE COMP "SPISlaveSelect_ABI" SITE "T20" ;// FPGA SPI SlaveSelect (active-low)
IOBUF PORT "SPISlaveSelect_ABI" IO_TYPE=LVCMOS18 PULLMODE=UP ;
INPUT_SETUP PORT "SPISlaveSelect_ABI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIClock_AI" SITE "T19" ;// FPGA SPI Clock
IOBUF PORT "SPIClock_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIClock_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIMOSI_AI" SITE "T18" ;// FPGA SPI MOSI
IOBUF PORT "SPIMOSI_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIMOSI_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIMISO_DZO" SITE "T22" ;// FPGA SPI MISO
IOBUF PORT "SPIMISO_DZO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "SPIMISO_DZO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// FX3 USB FIFO (data transmission)
LOCATE COMP "USBFifoChipSelect_SBO" SITE "Y20" ;// SLCS
IOBUF PORT "USBFifoChipSelect_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoChipSelect_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoWrite_SBO" SITE "AA19" ;// SLWR
IOBUF PORT "USBFifoWrite_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoRead_SBO" SITE "Y17" ;// SLOESLRD
IOBUF PORT "USBFifoRead_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoPktEnd_SBO" SITE "Y18" ;// PktEnd
IOBUF PORT "USBFifoPktEnd_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr0Ready_SI" SITE "Y19" ;// THR0_READY
IOBUF PORT "USBFifoThr0Ready_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr0Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr0Watermark_SI" SITE "AA17" ;// THR0_WATERMARK
IOBUF PORT "USBFifoThr0Watermark_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr0Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr1Ready_SI" SITE "Y22" ;// THR1_READY
IOBUF PORT "USBFifoThr1Ready_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr1Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr1Watermark_SI" SITE "V17" ;// THR1_WATERMARK
IOBUF PORT "USBFifoThr1Watermark_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr1Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoAddress_DO[1]" SITE "U16" ;// FifoAddr1
LOCATE COMP "USBFifoAddress_DO[0]" SITE "U22" ;// FifoAddr0
DEFINE PORT GROUP "USBFifoAddress_DO"
"USBFifoAddress_DO[1]" 
"USBFifoAddress_DO[0]" ;
IOBUF GROUP "USBFifoAddress_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "USBFifoAddress_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoData_DO[15]" SITE "V22" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "W22" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "V18" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "W17" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "V19" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "AB21" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "W18" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "AA20" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "AA21" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "AB19" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "W21" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "AA22" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "AB20" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "W19" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "AB18" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "AB17" ;
DEFINE PORT GROUP "USBFifoData_DO"
"USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;
IOBUF GROUP "USBFifoData_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

// FPGA controlled LEDs
LOCATE COMP "LED1_SO" SITE "G20" ;// SP_LED1
IOBUF PORT "LED1_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED1_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED2_SO" SITE "H19" ;// SP_LED2
IOBUF PORT "LED2_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED2_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "LED3_SO" SITE "H20" ;// SP_LED3
IOBUF PORT "LED3_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED3_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED4_SO" SITE "G19" ;// SP_LED4
IOBUF PORT "LED4_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED4_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED5_SO" SITE "H17" ;// SP_LED5
IOBUF PORT "LED5_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED5_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED6_SO" SITE "J16" ;// SP_LED6
IOBUF PORT "LED6_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED6_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// Bias configuration
LOCATE COMP "ChipBiasEnable_SO" SITE "K22" ;
IOBUF PORT "ChipBiasEnable_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "ChipBiasEnable_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "ChipBiasDiagSelect_SO" SITE "L19" ;
IOBUF PORT "ChipBiasDiagSelect_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "ChipBiasDiagSelect_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "ChipBiasAddrSelect_SBO" SITE "K20" ;
IOBUF PORT "ChipBiasAddrSelect_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "ChipBiasAddrSelect_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "ChipBiasClock_CBO" SITE "L21" ;
IOBUF PORT "ChipBiasClock_CBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "ChipBiasClock_CBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "ChipBiasBitIn_DO" SITE "L18" ;
IOBUF PORT "ChipBiasBitIn_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "ChipBiasBitIn_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "ChipBiasLatch_SBO" SITE "H22" ;
IOBUF PORT "ChipBiasLatch_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "ChipBiasLatch_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

//LOCATE COMP "ChipBiasBitOut_DI" SITE "M20" ;// from chip (debug)
//IOBUF PORT "ChipBiasBitOut_DI" PULLMODE=DOWN ;
//INPUT_SETUP PORT "ChipBiasBitOut_DI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

// DVS data (AER bus)
LOCATE COMP "DVSAERReq_ABI" SITE "G21" ;
IOBUF PORT "DVSAERReq_ABI" PULLMODE=UP ;
INPUT_SETUP PORT "DVSAERReq_ABI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "DVSAERAck_SBO" SITE "F22" ;
IOBUF PORT "DVSAERAck_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "DVSAERAck_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "DVSAERReset_SBO" SITE "J17" ;// nReset on chip
IOBUF PORT "DVSAERReset_SBO" PULLMODE=DOWN ;// Keep in reset by default
CLOCK_TO_OUT PORT "DVSAERReset_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "DVSAERData_AI[9]" SITE "A5" ;
LOCATE COMP "DVSAERData_AI[8]" SITE "D7" ;
LOCATE COMP "DVSAERData_AI[7]" SITE "B6" ;
LOCATE COMP "DVSAERData_AI[6]" SITE "A4" ;
LOCATE COMP "DVSAERData_AI[5]" SITE "A6" ;
LOCATE COMP "DVSAERData_AI[4]" SITE "B7" ;
LOCATE COMP "DVSAERData_AI[3]" SITE "D6" ;
LOCATE COMP "DVSAERData_AI[2]" SITE "C7" ;
LOCATE COMP "DVSAERData_AI[1]" SITE "C6" ;
LOCATE COMP "DVSAERData_AI[0]" SITE "A7" ;
DEFINE PORT GROUP "DVSAERData_AI"
"DVSAERData_AI[9]" 
"DVSAERData_AI[8]" 
"DVSAERData_AI[7]" 
"DVSAERData_AI[6]" 
"DVSAERData_AI[5]" 
"DVSAERData_AI[4]" 
"DVSAERData_AI[3]" 
"DVSAERData_AI[2]" 
"DVSAERData_AI[1]" 
"DVSAERData_AI[0]" ;
IOBUF GROUP "DVSAERData_AI" PULLMODE=DOWN ;
INPUT_SETUP GROUP "DVSAERData_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

// APS data (chip)
LOCATE COMP "APSChipTXGate_SBO" SITE "K21" ;
IOBUF PORT "APSChipTXGate_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "APSChipTXGate_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "ADCClock_C" ;

LOCATE COMP "APSChipRowSRClock_SO" SITE "E22" ;
IOBUF PORT "APSChipRowSRClock_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "APSChipRowSRClock_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "ADCClock_C" ;

LOCATE COMP "APSChipRowSRIn_SO" SITE "G22" ;
IOBUF PORT "APSChipRowSRIn_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "APSChipRowSRIn_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "ADCClock_C" ;

LOCATE COMP "APSChipColSRClock_SO" SITE "M21" ;
IOBUF PORT "APSChipColSRClock_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "APSChipColSRClock_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "ADCClock_C" ;

LOCATE COMP "APSChipColSRIn_SO" SITE "K19" ;
IOBUF PORT "APSChipColSRIn_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "APSChipColSRIn_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "ADCClock_C" ;

LOCATE COMP "APSChipColMode_DO[1]" SITE "J20" ;
LOCATE COMP "APSChipColMode_DO[0]" SITE "J19" ;
DEFINE PORT GROUP "APSChipColMode_DO"
"APSChipColMode_DO[1]" 
"APSChipColMode_DO[0]" ;
IOBUF GROUP "APSChipColMode_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "APSChipColMode_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "ADCClock_C" ;

// APS data (external ADC)
LOCATE COMP "APSADCOverflow_SI" SITE "E6" ;
IOBUF PORT "APSADCOverflow_SI" PULLMODE=DOWN ;
INPUT_SETUP PORT "APSADCOverflow_SI" INPUT_DELAY 25.0 ns HOLD 5.0 ns CLKNET "ADCClock_C" ;

LOCATE COMP "APSADCClock_CO" SITE "E10" ;
IOBUF PORT "APSADCClock_CO" PULLMODE=DOWN ;
MAXDELAY FROM PORT "USBClock_CI" TO PORT "APSADCClock_CO" 5.0 ns;

LOCATE COMP "APSADCOutputEnable_SBO" SITE "D5" ;
IOBUF PORT "APSADCOutputEnable_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "APSADCOutputEnable_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "ADCClock_C" ;

LOCATE COMP "APSADCStandby_SO" SITE "E7" ;
IOBUF PORT "APSADCStandby_SO" PULLMODE=UP ; // Keep in standby by default.
CLOCK_TO_OUT PORT "APSADCStandby_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "ADCClock_C" ;

LOCATE COMP "APSADCData_DI[9]" SITE "D9" ;
LOCATE COMP "APSADCData_DI[8]" SITE "E11" ;
LOCATE COMP "APSADCData_DI[7]" SITE "D8" ;
LOCATE COMP "APSADCData_DI[6]" SITE "E9" ;
LOCATE COMP "APSADCData_DI[5]" SITE "F8" ;
LOCATE COMP "APSADCData_DI[4]" SITE "F9" ;
LOCATE COMP "APSADCData_DI[3]" SITE "F10" ;
LOCATE COMP "APSADCData_DI[2]" SITE "F7" ;
LOCATE COMP "APSADCData_DI[1]" SITE "G9" ;
LOCATE COMP "APSADCData_DI[0]" SITE "G8" ;
DEFINE PORT GROUP "APSADCData_DI"
"APSADCData_DI[9]" 
"APSADCData_DI[8]" 
"APSADCData_DI[7]" 
"APSADCData_DI[6]" 
"APSADCData_DI[5]" 
"APSADCData_DI[4]" 
"APSADCData_DI[3]" 
"APSADCData_DI[2]" 
"APSADCData_DI[1]" 
"APSADCData_DI[0]" ;
IOBUF GROUP "APSADCData_DI" PULLMODE=DOWN ;
INPUT_SETUP GROUP "APSADCData_DI" INPUT_DELAY 25.0 ns HOLD 5.0 ns CLKNET "ADCClock_C" ;

// IMU (InvenSense MPU 6X50)
LOCATE COMP "IMUClock_CZO" SITE "K18" ;
IOBUF PORT "IMUClock_CZO" PULLMODE=NONE ;// I2C pulls high on its own.
CLOCK_TO_OUT PORT "IMUClock_CZO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "IMUData_DZIO" SITE "J18" ;
IOBUF PORT "IMUData_DZIO" PULLMODE=NONE ;// I2C pulls high on its own.
CLOCK_TO_OUT PORT "IMUData_DZIO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;
INPUT_SETUP PORT "IMUData_DZIO" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "IMUInterrupt_AI" SITE "J22" ;
IOBUF PORT "IMUInterrupt_AI" PULLMODE=DOWN ;
INPUT_SETUP PORT "IMUInterrupt_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "IMUFSync_SO" SITE "H21" ;
IOBUF PORT "IMUFSync_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "IMUFSync_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// Multi-camera time synchronization
LOCATE COMP "SyncOutClock_CO" SITE "B19" ;
IOBUF PORT "SyncOutClock_CO" IO_TYPE=LVCMOS18 PULLMODE=NONE ;// JACK pulls high on its own.
CLOCK_TO_OUT PORT "SyncOutClock_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SyncOutSwitch_AI" SITE "E18" ;
IOBUF PORT "SyncOutSwitch_AI" IO_TYPE=LVCMOS18 ;

LOCATE COMP "SyncOutSignal_SO" SITE "C18" ;
IOBUF PORT "SyncOutSignal_SO" IO_TYPE=LVCMOS18 PULLMODE=NONE ;// JACK pulls high on its own.
CLOCK_TO_OUT PORT "SyncOutSignal_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SyncInClock_AI" SITE "D18" ;
IOBUF PORT "SyncInClock_AI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;// JACK pulls high on its own.
INPUT_SETUP PORT "SyncInClock_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SyncInSwitch_AI" SITE "B20" ;
IOBUF PORT "SyncInSwitch_AI" IO_TYPE=LVCMOS18 ;

LOCATE COMP "SyncInSignal_AI" SITE "A20" ;
IOBUF PORT "SyncInSignal_AI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;// JACK pulls high on its own.
INPUT_SETUP PORT "SyncInSignal_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;
