// Global configuration
SYSCONFIG PERSISTENT=SSPI CONFIG_MODE=SSPI CONFIG_IOVOLTAGE=1.8 ;

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

// Global port configuration
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
OUTPUT ALLPORTS LOAD 1.0 pF ;

// Bank voltages
BANK 0 VCCIO 3.3 V; // VARIABLE: 3.3, 1.8, 1.2
BANK 1 VCCIO 3.3 V; // VARIABLE: 3.3, 1.8, 1.2
BANK 2 VCCIO 3.3 V; // VARIABLE: 3.3, 1.8, 1.2
BANK 3 VCCIO 1.8 V; // FIXED AT 1.8
BANK 6 VCCIO 3.3 V; // FIXED AT 3.3
BANK 7 VCCIO 3.3 V; // VARIABLE: 3.3, 1.8, 1.2
BANK 8 VCCIO 1.8 V; // FIXED AT 1.8

// Main clock (input from FX3)
LOCATE COMP "USBClock_CI" SITE "N19" ;// IFClock (from FX3)
IOBUF PORT "USBClock_CI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;

// Clock settings
FREQUENCY PORT "USBClock_CI" 80.0 MHz ;

FREQUENCY NET "USBClock_CI_c" 80.0 MHz ;
USE PRIMARY NET "USBClock_CI_c" ;

FREQUENCY NET "LogicClock_C" 120.0 MHz ;
USE PRIMARY NET "LogicClock_C" ;

// FX3 controls
LOCATE COMP "Reset_RI" SITE "N20" ;// FPGA Reset
IOBUF PORT "Reset_RI" IO_TYPE=LVCMOS18 PULLMODE=UP ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPISlaveSelect_ABI" SITE "T20" ;// FPGA SPI SlaveSelect (active-low)
IOBUF PORT "SPISlaveSelect_ABI" IO_TYPE=LVCMOS18 PULLMODE=UP ;
INPUT_SETUP PORT "SPISlaveSelect_ABI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIClock_AI" SITE "T19" ;// FPGA SPI Clock
IOBUF PORT "SPIClock_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIClock_AI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIMOSI_AI" SITE "T18" ;// FPGA SPI MOSI
IOBUF PORT "SPIMOSI_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIMOSI_AI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIMISO_DZO" SITE "T22" ;// FPGA SPI MISO
IOBUF PORT "SPIMISO_DZO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "SPIMISO_DZO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// FX3 USB FIFO (data transmission)
LOCATE COMP "USBFifoChipSelect_SBO" SITE "Y20" ;// SLCS
IOBUF PORT "USBFifoChipSelect_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP DRIVE=16 ;
CLOCK_TO_OUT PORT "USBFifoChipSelect_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoWrite_SBO" SITE "AA19" ;// SLWR
IOBUF PORT "USBFifoWrite_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP DRIVE=16 ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoRead_SBO" SITE "Y17" ;// SLOESLRD
IOBUF PORT "USBFifoRead_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP DRIVE=16 ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoPktEnd_SBO" SITE "Y18" ;// PktEnd
IOBUF PORT "USBFifoPktEnd_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP DRIVE=16 ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr0Ready_SI" SITE "Y19" ;// THR0_READY
IOBUF PORT "USBFifoThr0Ready_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr0Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoThr0Ready_SI" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr0Watermark_SI" SITE "AA17" ;// THR0_WATERMARK
IOBUF PORT "USBFifoThr0Watermark_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr0Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoThr0Watermark_SI" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr1Ready_SI" SITE "Y22" ;// THR1_READY
IOBUF PORT "USBFifoThr1Ready_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr1Ready_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoThr1Ready_SI" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoThr1Watermark_SI" SITE "V17" ;// THR1_WATERMARK
IOBUF PORT "USBFifoThr1Watermark_SI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoThr1Watermark_SI" INPUT_DELAY 8.0 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoThr1Watermark_SI" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoAddress_DO[1]" SITE "U16" ;// FifoAddr1
LOCATE COMP "USBFifoAddress_DO[0]" SITE "U22" ;// FifoAddr0
DEFINE PORT GROUP "USBFifoAddress_DO"
"USBFifoAddress_DO[1]" 
"USBFifoAddress_DO[0]" ;
IOBUF GROUP "USBFifoAddress_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN DRIVE=16 ;
CLOCK_TO_OUT GROUP "USBFifoAddress_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoData_DO[31]" SITE "P22" ;
LOCATE COMP "USBFifoData_DO[30]" SITE "U20" ;
LOCATE COMP "USBFifoData_DO[29]" SITE "N18" ;
LOCATE COMP "USBFifoData_DO[28]" SITE "Y21" ;
LOCATE COMP "USBFifoData_DO[27]" SITE "P17" ;
LOCATE COMP "USBFifoData_DO[26]" SITE "P19" ;
LOCATE COMP "USBFifoData_DO[25]" SITE "R22" ;
LOCATE COMP "USBFifoData_DO[24]" SITE "T14" ;
LOCATE COMP "USBFifoData_DO[23]" SITE "R14" ;
LOCATE COMP "USBFifoData_DO[22]" SITE "R19" ;
LOCATE COMP "USBFifoData_DO[21]" SITE "P20" ;
LOCATE COMP "USBFifoData_DO[20]" SITE "R16" ;
LOCATE COMP "USBFifoData_DO[19]" SITE "R20" ;
LOCATE COMP "USBFifoData_DO[18]" SITE "T16" ;
LOCATE COMP "USBFifoData_DO[17]" SITE "T15" ;
LOCATE COMP "USBFifoData_DO[16]" SITE "R18" ;
LOCATE COMP "USBFifoData_DO[15]" SITE "V22" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "W22" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "V18" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "W17" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "V19" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "AB21" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "W18" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "AA20" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "AA21" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "AB19" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "W21" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "AA22" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "AB20" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "W19" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "AB18" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "AB17" ;
DEFINE PORT GROUP "USBFifoData_DO"
"USBFifoData_DO[31]" 
"USBFifoData_DO[30]" 
"USBFifoData_DO[29]" 
"USBFifoData_DO[28]" 
"USBFifoData_DO[27]" 
"USBFifoData_DO[26]" 
"USBFifoData_DO[25]" 
"USBFifoData_DO[24]" 
"USBFifoData_DO[23]" 
"USBFifoData_DO[22]" 
"USBFifoData_DO[21]" 
"USBFifoData_DO[20]" 
"USBFifoData_DO[19]" 
"USBFifoData_DO[18]" 
"USBFifoData_DO[17]" 
"USBFifoData_DO[16]" 
"USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;
IOBUF GROUP "USBFifoData_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN DRIVE=16 ;
CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 2.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

// FPGA controlled LEDs
LOCATE COMP "LED1_SO" SITE "G20" ;// SP_LED1
IOBUF PORT "LED1_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED1_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED2_SO" SITE "H19" ;// SP_LED2
IOBUF PORT "LED2_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED2_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "LED3_SO" SITE "H20" ;// SP_LED3
IOBUF PORT "LED3_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED3_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED4_SO" SITE "G19" ;// SP_LED4
IOBUF PORT "LED4_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED4_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED5_SO" SITE "H17" ;// SP_LED5
IOBUF PORT "LED5_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED5_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED6_SO" SITE "J16" ;// SP_LED6
IOBUF PORT "LED6_SO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED6_SO" OUTPUT_DELAY 0.5 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// SERDES Clock (150MHz) Control
LOCATE COMP "SERDESClockOutputEnable_SO" SITE "AA1" ;
IOBUF PORT "SERDESClockOutputEnable_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "SERDESClockOutputEnable_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// Auxiliary Clock (100MHz) Control & Signal
LOCATE COMP "AuxClockOutputEnable_SO" SITE "Y1" ;
IOBUF PORT "AuxClockOutputEnable_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "AuxClockOutputEnable_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "AuxClockPos_CI" SITE "C12" ;
IOBUF PORT "AuxClockPos_CI" PULLMODE=DOWN ; // Voltage may vary (depends on Bank1).
INPUT_SETUP PORT "AuxClockPos_CI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "AuxClockNeg_CI" SITE "D12" ;
IOBUF PORT "AuxClockNeg_CI" PULLMODE=DOWN ; // Voltage may vary (depends on Bank1).
INPUT_SETUP PORT "AuxClockNeg_CI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

// SRAM Banks
LOCATE COMP "SRAMChipEnable1_SBO" SITE "T7" ;
IOBUF PORT "SRAMChipEnable1_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMChipEnable1_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMOutputEnable1_SBO" SITE "T9" ;
IOBUF PORT "SRAMOutputEnable1_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMOutputEnable1_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMWriteEnable1_SBO" SITE "U4" ;
IOBUF PORT "SRAMWriteEnable1_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMWriteEnable1_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMChipEnable2_SBO" SITE "T8" ;
IOBUF PORT "SRAMChipEnable2_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMChipEnable2_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMOutputEnable2_SBO" SITE "U1" ;
IOBUF PORT "SRAMOutputEnable2_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMOutputEnable2_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMWriteEnable2_SBO" SITE "U5" ;
IOBUF PORT "SRAMWriteEnable2_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMWriteEnable2_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMChipEnable3_SBO" SITE "U7" ;
IOBUF PORT "SRAMChipEnable3_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMChipEnable3_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMOutputEnable3_SBO" SITE "U2" ;
IOBUF PORT "SRAMOutputEnable3_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMOutputEnable3_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMWriteEnable3_SBO" SITE "W6" ;
IOBUF PORT "SRAMWriteEnable3_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMWriteEnable3_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMChipEnable4_SBO" SITE "Y3" ;
IOBUF PORT "SRAMChipEnable4_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMChipEnable4_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMOutputEnable4_SBO" SITE "Y2" ;
IOBUF PORT "SRAMOutputEnable4_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMOutputEnable4_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMWriteEnable4_SBO" SITE "Y5" ;
IOBUF PORT "SRAMWriteEnable4_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "SRAMWriteEnable4_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMAddress_DO[20]" SITE "T6" ;
LOCATE COMP "SRAMAddress_DO[19]" SITE "T5" ;
LOCATE COMP "SRAMAddress_DO[18]" SITE "T4" ;
LOCATE COMP "SRAMAddress_DO[17]" SITE "R9" ;
LOCATE COMP "SRAMAddress_DO[16]" SITE "R7" ;
LOCATE COMP "SRAMAddress_DO[15]" SITE "R6" ;
LOCATE COMP "SRAMAddress_DO[14]" SITE "R4" ;
LOCATE COMP "SRAMAddress_DO[13]" SITE "R3" ;
LOCATE COMP "SRAMAddress_DO[12]" SITE "R2" ;
LOCATE COMP "SRAMAddress_DO[11]" SITE "R1" ;
LOCATE COMP "SRAMAddress_DO[10]" SITE "P7" ;
LOCATE COMP "SRAMAddress_DO[9]" SITE "P6" ;
LOCATE COMP "SRAMAddress_DO[8]" SITE "P5" ;
LOCATE COMP "SRAMAddress_DO[7]" SITE "P4" ;
LOCATE COMP "SRAMAddress_DO[6]" SITE "P3" ;
LOCATE COMP "SRAMAddress_DO[5]" SITE "P1" ;
LOCATE COMP "SRAMAddress_DO[4]" SITE "N6" ;
LOCATE COMP "SRAMAddress_DO[3]" SITE "N5" ;
LOCATE COMP "SRAMAddress_DO[2]" SITE "N4" ;
LOCATE COMP "SRAMAddress_DO[1]" SITE "N3" ;
LOCATE COMP "SRAMAddress_DO[0]" SITE "N2" ;
DEFINE PORT GROUP "SRAMAddress_DO"
"SRAMAddress_DO[20]" 
"SRAMAddress_DO[19]" 
"SRAMAddress_DO[18]" 
"SRAMAddress_DO[17]" 
"SRAMAddress_DO[16]" 
"SRAMAddress_DO[15]" 
"SRAMAddress_DO[14]" 
"SRAMAddress_DO[13]" 
"SRAMAddress_DO[12]" 
"SRAMAddress_DO[11]" 
"SRAMAddress_DO[10]" 
"SRAMAddress_DO[9]" 
"SRAMAddress_DO[8]" 
"SRAMAddress_DO[7]" 
"SRAMAddress_DO[6]" 
"SRAMAddress_DO[5]" 
"SRAMAddress_DO[4]" 
"SRAMAddress_DO[3]" 
"SRAMAddress_DO[2]" 
"SRAMAddress_DO[1]" 
"SRAMAddress_DO[0]" ;
IOBUF GROUP "SRAMAddress_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "SRAMAddress_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SRAMData_DZIO[15]" SITE "W2" ;
LOCATE COMP "SRAMData_DZIO[14]" SITE "W1" ;
LOCATE COMP "SRAMData_DZIO[13]" SITE "W3" ;
LOCATE COMP "SRAMData_DZIO[12]" SITE "W4" ;
LOCATE COMP "SRAMData_DZIO[11]" SITE "W5" ;
LOCATE COMP "SRAMData_DZIO[10]" SITE "Y6" ;
LOCATE COMP "SRAMData_DZIO[9]" SITE "AB6" ;
LOCATE COMP "SRAMData_DZIO[8]" SITE "AB5" ;
LOCATE COMP "SRAMData_DZIO[7]" SITE "N1" ;
LOCATE COMP "SRAMData_DZIO[6]" SITE "M5" ;
LOCATE COMP "SRAMData_DZIO[5]" SITE "M4" ;
LOCATE COMP "SRAMData_DZIO[4]" SITE "M2" ;
LOCATE COMP "SRAMData_DZIO[3]" SITE "M1" ;
LOCATE COMP "SRAMData_DZIO[2]" SITE "L4" ;
LOCATE COMP "SRAMData_DZIO[1]" SITE "L3" ;
LOCATE COMP "SRAMData_DZIO[0]" SITE "L2" ;
DEFINE PORT GROUP "SRAMData_DZIO"
"SRAMData_DZIO[15]" 
"SRAMData_DZIO[14]" 
"SRAMData_DZIO[13]" 
"SRAMData_DZIO[12]" 
"SRAMData_DZIO[11]" 
"SRAMData_DZIO[10]" 
"SRAMData_DZIO[9]" 
"SRAMData_DZIO[8]" 
"SRAMData_DZIO[7]" 
"SRAMData_DZIO[6]" 
"SRAMData_DZIO[5]" 
"SRAMData_DZIO[4]" 
"SRAMData_DZIO[3]" 
"SRAMData_DZIO[2]" 
"SRAMData_DZIO[1]" 
"SRAMData_DZIO[0]" ;
IOBUF GROUP "SRAMData_DZIO" PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "SRAMData_DZIO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;
INPUT_SETUP GROUP "SRAMData_DZIO" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

// SD-Card Interface
LOCATE COMP "SDCardData_DO[3]" SITE "AB3" ;
LOCATE COMP "SDCardData_DO[2]" SITE "AA2" ;
LOCATE COMP "SDCardData_DO[1]" SITE "AA6" ;
LOCATE COMP "SDCardData_DO[0]" SITE "AA5" ;
DEFINE PORT GROUP "SDCardData_DO"
"SDCardData_DO[3]" 
"SDCardData_DO[2]" 
"SDCardData_DO[1]" 
"SDCardData_DO[0]" ;
IOBUF GROUP "SDCardData_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "SDCardData_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SDCardCommand_SO" SITE "AA4" ;
IOBUF PORT "SDCardCommand_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "SDCardCommand_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SDCardClock_CO" SITE "AB4" ;
IOBUF PORT "SDCardClock_CO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "SDCardClock_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// RealTimeClock (RTC) Interface
LOCATE COMP "RTCSlaveSelect_SBO" SITE "D19" ;
IOBUF PORT "RTCSlaveSelect_SBO" IO_TYPE=LVCMOS18 PULLMODE=UP ;
CLOCK_TO_OUT PORT "RTCSlaveSelect_SBO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "RTCClock_CO" SITE "D22" ;
IOBUF PORT "RTCClock_CO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "RTCClock_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "RTCMOSI_DO" SITE "C22" ;
IOBUF PORT "RTCMOSI_DO" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "RTCMOSI_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "RTCMISO_AI" SITE "C21" ;
IOBUF PORT "RTCMISO_AI" IO_TYPE=LVCMOS18 PULLMODE=DOWN ;
INPUT_SETUP PORT "RTCMISO_AI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "RTCInterrupt_AI" SITE "E17" ;
IOBUF PORT "RTCInterrupt_AI" IO_TYPE=LVCMOS18 PULLMODE=NONE ; // Has external pull-up.
INPUT_SETUP PORT "RTCInterrupt_AI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

// Sync Connectors
LOCATE COMP "SyncOutClock_CO" SITE "B19" ;
IOBUF PORT "SyncOutClock_CO" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
CLOCK_TO_OUT PORT "SyncOutClock_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SyncOutSwitch_AI" SITE "E18" ;
IOBUF PORT "SyncOutSwitch_AI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
INPUT_SETUP PORT "SyncOutSwitch_AI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SyncOutSignal_SO" SITE "C18" ;
IOBUF PORT "SyncOutSignal_SO" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
CLOCK_TO_OUT PORT "SyncOutSignal_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SyncInClock_AI" SITE "D18" ;
IOBUF PORT "SyncInClock_AI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
INPUT_SETUP PORT "SyncInClock_AI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SyncInSwitch_AI" SITE "B20" ;
IOBUF PORT "SyncInSwitch_AI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
INPUT_SETUP PORT "SyncInSwitch_AI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SyncInSignal_AI" SITE "A20" ;
IOBUF PORT "SyncInSignal_AI" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
INPUT_SETUP PORT "SyncInSignal_AI" INPUT_DELAY 1.0 ns HOLD -0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 0
LOCATE COMP "Bank0_DO[37]" SITE "G9" ;
LOCATE COMP "Bank0_DO[36]" SITE "G8" ;
LOCATE COMP "Bank0_DO[35]" SITE "F10" ;
LOCATE COMP "Bank0_DO[34]" SITE "F9" ;
LOCATE COMP "Bank0_DO[33]" SITE "F8" ;
LOCATE COMP "Bank0_DO[32]" SITE "F7" ;
LOCATE COMP "Bank0_DO[31]" SITE "E11" ;
LOCATE COMP "Bank0_DO[30]" SITE "E10" ;
LOCATE COMP "Bank0_DO[29]" SITE "E9" ;
LOCATE COMP "Bank0_DO[28]" SITE "E7" ;
LOCATE COMP "Bank0_DO[27]" SITE "D11" ;
LOCATE COMP "Bank0_DO[26]" SITE "D10" ;
LOCATE COMP "Bank0_DO[25]" SITE "D9" ;
LOCATE COMP "Bank0_DO[24]" SITE "D8" ;
LOCATE COMP "Bank0_DO[23]" SITE "D7" ;
LOCATE COMP "Bank0_DO[22]" SITE "D6" ;
LOCATE COMP "Bank0_DO[21]" SITE "C10" ;
LOCATE COMP "Bank0_DO[20]" SITE "C9" ;
LOCATE COMP "Bank0_DO[19]" SITE "C8" ;
LOCATE COMP "Bank0_DO[18]" SITE "C7" ;
LOCATE COMP "Bank0_DO[17]" SITE "C6" ;
LOCATE COMP "Bank0_DO[16]" SITE "C5" ;
LOCATE COMP "Bank0_DO[15]" SITE "B10" ;
LOCATE COMP "Bank0_DO[14]" SITE "B8" ;
LOCATE COMP "Bank0_DO[13]" SITE "B7" ;
LOCATE COMP "Bank0_DO[12]" SITE "B6" ;
LOCATE COMP "Bank0_DO[11]" SITE "B4" ;
LOCATE COMP "Bank0_DO[10]" SITE "B3" ;
LOCATE COMP "Bank0_DO[9]" SITE "A11" ;
LOCATE COMP "Bank0_DO[8]" SITE "A10" ;
LOCATE COMP "Bank0_DO[7]" SITE "A9" ;
LOCATE COMP "Bank0_DO[6]" SITE "A8" ;
LOCATE COMP "Bank0_DO[5]" SITE "A7" ;
LOCATE COMP "Bank0_DO[4]" SITE "A6" ;
LOCATE COMP "Bank0_DO[3]" SITE "A5" ;
LOCATE COMP "Bank0_DO[2]" SITE "A4" ;
LOCATE COMP "Bank0_DO[1]" SITE "A3" ;
LOCATE COMP "Bank0_DO[0]" SITE "A2" ;
DEFINE PORT GROUP "Bank0_DO"
"Bank0_DO[37]" 
"Bank0_DO[36]" 
"Bank0_DO[35]" 
"Bank0_DO[34]" 
"Bank0_DO[33]" 
"Bank0_DO[32]" 
"Bank0_DO[31]" 
"Bank0_DO[30]" 
"Bank0_DO[29]" 
"Bank0_DO[28]" 
"Bank0_DO[27]" 
"Bank0_DO[26]" 
"Bank0_DO[25]" 
"Bank0_DO[24]" 
"Bank0_DO[23]" 
"Bank0_DO[22]" 
"Bank0_DO[21]" 
"Bank0_DO[20]" 
"Bank0_DO[19]" 
"Bank0_DO[18]" 
"Bank0_DO[17]" 
"Bank0_DO[16]" 
"Bank0_DO[15]" 
"Bank0_DO[14]" 
"Bank0_DO[13]" 
"Bank0_DO[12]" 
"Bank0_DO[11]" 
"Bank0_DO[10]" 
"Bank0_DO[9]" 
"Bank0_DO[8]" 
"Bank0_DO[7]" 
"Bank0_DO[6]" 
"Bank0_DO[5]" 
"Bank0_DO[4]" 
"Bank0_DO[3]" 
"Bank0_DO[2]" 
"Bank0_DO[1]" 
"Bank0_DO[0]" ;
IOBUF GROUP "Bank0_DO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank0).
CLOCK_TO_OUT GROUP "Bank0_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 0 VRef
LOCATE COMP "Bank0VRef_DO[1]" SITE "D5" ;
LOCATE COMP "Bank0VRef_DO[0]" SITE "E6" ;
DEFINE PORT GROUP "Bank0VRef_DO"
"Bank0VRef_DO[1]" 
"Bank0VRef_DO[0]" ;
IOBUF GROUP "Bank0VRef_DO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank0).
CLOCK_TO_OUT GROUP "Bank0VRef_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 0 Clock
LOCATE COMP "Bank0ClockPos_CO" SITE "F11" ;
IOBUF PORT "Bank0ClockPos_CO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank0).
CLOCK_TO_OUT PORT "Bank0ClockPos_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "Bank0ClockNeg_CO" SITE "F12" ;
IOBUF PORT "Bank0ClockNeg_CO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank0).
CLOCK_TO_OUT PORT "Bank0ClockNeg_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 1
LOCATE COMP "Bank1_DO[29]" SITE "G15" ;
LOCATE COMP "Bank1_DO[28]" SITE "G14" ;
LOCATE COMP "Bank1_DO[27]" SITE "A14" ;
LOCATE COMP "Bank1_DO[26]" SITE "B12" ;
LOCATE COMP "Bank1_DO[25]" SITE "E15" ;
LOCATE COMP "Bank1_DO[24]" SITE "D13" ;
LOCATE COMP "Bank1_DO[23]" SITE "B15" ;
LOCATE COMP "Bank1_DO[22]" SITE "A13" ;
LOCATE COMP "Bank1_DO[21]" SITE "C13" ;
LOCATE COMP "Bank1_DO[20]" SITE "E13" ;
LOCATE COMP "Bank1_DO[19]" SITE "F16" ;
LOCATE COMP "Bank1_DO[18]" SITE "F15" ;
LOCATE COMP "Bank1_DO[17]" SITE "C14" ;
LOCATE COMP "Bank1_DO[16]" SITE "F14" ;
LOCATE COMP "Bank1_DO[15]" SITE "A19" ;
LOCATE COMP "Bank1_DO[14]" SITE "A17" ;
LOCATE COMP "Bank1_DO[13]" SITE "B18" ;
LOCATE COMP "Bank1_DO[12]" SITE "A18" ;
LOCATE COMP "Bank1_DO[11]" SITE "B16" ;
LOCATE COMP "Bank1_DO[10]" SITE "A16" ;
LOCATE COMP "Bank1_DO[9]" SITE "A15" ;
LOCATE COMP "Bank1_DO[8]" SITE "D15" ;
LOCATE COMP "Bank1_DO[7]" SITE "C15" ;
LOCATE COMP "Bank1_DO[6]" SITE "B14" ;
LOCATE COMP "Bank1_DO[5]" SITE "A12" ;
LOCATE COMP "Bank1_DO[4]" SITE "E16" ;
LOCATE COMP "Bank1_DO[3]" SITE "B11" ;
LOCATE COMP "Bank1_DO[2]" SITE "D14" ;
LOCATE COMP "Bank1_DO[1]" SITE "E12" ;
LOCATE COMP "Bank1_DO[0]" SITE "F13" ;
DEFINE PORT GROUP "Bank1_DO"
"Bank1_DO[29]" 
"Bank1_DO[28]" 
"Bank1_DO[27]" 
"Bank1_DO[26]" 
"Bank1_DO[25]" 
"Bank1_DO[24]" 
"Bank1_DO[23]" 
"Bank1_DO[22]" 
"Bank1_DO[21]" 
"Bank1_DO[20]" 
"Bank1_DO[19]" 
"Bank1_DO[18]" 
"Bank1_DO[17]" 
"Bank1_DO[16]" 
"Bank1_DO[15]" 
"Bank1_DO[14]" 
"Bank1_DO[13]" 
"Bank1_DO[12]" 
"Bank1_DO[11]" 
"Bank1_DO[10]" 
"Bank1_DO[9]" 
"Bank1_DO[8]" 
"Bank1_DO[7]" 
"Bank1_DO[6]" 
"Bank1_DO[5]" 
"Bank1_DO[4]" 
"Bank1_DO[3]" 
"Bank1_DO[2]" 
"Bank1_DO[1]" 
"Bank1_DO[0]" ;
IOBUF GROUP "Bank1_DO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank1).
CLOCK_TO_OUT GROUP "Bank1_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 1 VRef
LOCATE COMP "Bank1VRef_DO[1]" SITE "D17" ;
LOCATE COMP "Bank1VRef_DO[0]" SITE "D16" ;
DEFINE PORT GROUP "Bank1VRef_DO"
"Bank1VRef_DO[1]" 
"Bank1VRef_DO[0]" ;
IOBUF GROUP "Bank1VRef_DO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank1).
CLOCK_TO_OUT GROUP "Bank1VRef_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 2
LOCATE COMP "Bank2_DO[19]" SITE "M22" ;
LOCATE COMP "Bank2_DO[18]" SITE "L22" ;
LOCATE COMP "Bank2_DO[17]" SITE "L21" ;
LOCATE COMP "Bank2_DO[16]" SITE "L19" ;
LOCATE COMP "Bank2_DO[15]" SITE "L18" ;
LOCATE COMP "Bank2_DO[14]" SITE "K22" ;
LOCATE COMP "Bank2_DO[13]" SITE "K21" ;
LOCATE COMP "Bank2_DO[12]" SITE "K20" ;
LOCATE COMP "Bank2_DO[11]" SITE "K19" ;
LOCATE COMP "Bank2_DO[10]" SITE "J22" ;
LOCATE COMP "Bank2_DO[9]" SITE "J20" ;
LOCATE COMP "Bank2_DO[8]" SITE "J19" ;
LOCATE COMP "Bank2_DO[7]" SITE "J18" ;
LOCATE COMP "Bank2_DO[6]" SITE "J17" ;
LOCATE COMP "Bank2_DO[5]" SITE "H22" ;
LOCATE COMP "Bank2_DO[4]" SITE "H21" ;
LOCATE COMP "Bank2_DO[3]" SITE "G22" ;
LOCATE COMP "Bank2_DO[2]" SITE "G21" ;
LOCATE COMP "Bank2_DO[1]" SITE "E22" ;
LOCATE COMP "Bank2_DO[0]" SITE "F22" ;
DEFINE PORT GROUP "Bank2_DO"
"Bank2_DO[19]" 
"Bank2_DO[18]" 
"Bank2_DO[17]" 
"Bank2_DO[16]" 
"Bank2_DO[15]" 
"Bank2_DO[14]" 
"Bank2_DO[13]" 
"Bank2_DO[12]" 
"Bank2_DO[11]" 
"Bank2_DO[10]" 
"Bank2_DO[9]" 
"Bank2_DO[8]" 
"Bank2_DO[7]" 
"Bank2_DO[6]" 
"Bank2_DO[5]" 
"Bank2_DO[4]" 
"Bank2_DO[3]" 
"Bank2_DO[2]" 
"Bank2_DO[1]" 
"Bank2_DO[0]" ;
IOBUF GROUP "Bank2_DO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank2).
CLOCK_TO_OUT GROUP "Bank2_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 2 VRef
LOCATE COMP "Bank2VRef_DO[1]" SITE "K18" ;
LOCATE COMP "Bank2VRef_DO[0]" SITE "K17" ;
DEFINE PORT GROUP "Bank2VRef_DO"
"Bank2VRef_DO[1]" 
"Bank2VRef_DO[0]" ;
IOBUF GROUP "Bank2VRef_DO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank2).
CLOCK_TO_OUT GROUP "Bank2VRef_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 2 Clock
LOCATE COMP "Bank2ClockPos_CO" SITE "M21" ;
IOBUF PORT "Bank2ClockPos_CO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank2).
CLOCK_TO_OUT PORT "Bank2ClockPos_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "Bank2ClockNeg_CO" SITE "M20" ;
IOBUF PORT "Bank2ClockNeg_CO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank2).
CLOCK_TO_OUT PORT "Bank2ClockNeg_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 7
LOCATE COMP "Bank7_DO[31]" SITE "K3" ;
LOCATE COMP "Bank7_DO[30]" SITE "J7" ;
LOCATE COMP "Bank7_DO[29]" SITE "J6" ;
LOCATE COMP "Bank7_DO[28]" SITE "J4" ;
LOCATE COMP "Bank7_DO[27]" SITE "J3" ;
LOCATE COMP "Bank7_DO[26]" SITE "J2" ;
LOCATE COMP "Bank7_DO[25]" SITE "J1" ;
LOCATE COMP "Bank7_DO[24]" SITE "H6" ;
LOCATE COMP "Bank7_DO[23]" SITE "H5" ;
LOCATE COMP "Bank7_DO[22]" SITE "H4" ;
LOCATE COMP "Bank7_DO[21]" SITE "H3" ;
LOCATE COMP "Bank7_DO[20]" SITE "H2" ;
LOCATE COMP "Bank7_DO[19]" SITE "H1" ;
LOCATE COMP "Bank7_DO[18]" SITE "G5" ;
LOCATE COMP "Bank7_DO[17]" SITE "G4" ;
LOCATE COMP "Bank7_DO[16]" SITE "G3" ;
LOCATE COMP "Bank7_DO[15]" SITE "G2" ;
LOCATE COMP "Bank7_DO[14]" SITE "G1" ;
LOCATE COMP "Bank7_DO[13]" SITE "F5" ;
LOCATE COMP "Bank7_DO[12]" SITE "F4" ;
LOCATE COMP "Bank7_DO[11]" SITE "F3" ;
LOCATE COMP "Bank7_DO[10]" SITE "E5" ;
LOCATE COMP "Bank7_DO[9]" SITE "E4" ;
LOCATE COMP "Bank7_DO[8]" SITE "E3" ;
LOCATE COMP "Bank7_DO[7]" SITE "E2" ;
LOCATE COMP "Bank7_DO[6]" SITE "D4" ;
LOCATE COMP "Bank7_DO[5]" SITE "D2" ;
LOCATE COMP "Bank7_DO[4]" SITE "D1" ;
LOCATE COMP "Bank7_DO[3]" SITE "C2" ;
LOCATE COMP "Bank7_DO[2]" SITE "C1" ;
LOCATE COMP "Bank7_DO[1]" SITE "B2" ;
LOCATE COMP "Bank7_DO[0]" SITE "B1" ;
DEFINE PORT GROUP "Bank7_DO"
"Bank7_DO[31]" 
"Bank7_DO[30]" 
"Bank7_DO[29]" 
"Bank7_DO[28]" 
"Bank7_DO[27]" 
"Bank7_DO[26]" 
"Bank7_DO[25]" 
"Bank7_DO[24]" 
"Bank7_DO[23]" 
"Bank7_DO[22]" 
"Bank7_DO[21]" 
"Bank7_DO[20]" 
"Bank7_DO[19]" 
"Bank7_DO[18]" 
"Bank7_DO[17]" 
"Bank7_DO[16]" 
"Bank7_DO[15]" 
"Bank7_DO[14]" 
"Bank7_DO[13]" 
"Bank7_DO[12]" 
"Bank7_DO[11]" 
"Bank7_DO[10]" 
"Bank7_DO[9]" 
"Bank7_DO[8]" 
"Bank7_DO[7]" 
"Bank7_DO[6]" 
"Bank7_DO[5]" 
"Bank7_DO[4]" 
"Bank7_DO[3]" 
"Bank7_DO[2]" 
"Bank7_DO[1]" 
"Bank7_DO[0]" ;
IOBUF GROUP "Bank7_DO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank7).
CLOCK_TO_OUT GROUP "Bank7_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 7 VRef
LOCATE COMP "Bank7VRef_DO[1]" SITE "F1" ;
LOCATE COMP "Bank7VRef_DO[0]" SITE "E1" ;
DEFINE PORT GROUP "Bank7VRef_DO"
"Bank7VRef_DO[1]" 
"Bank7VRef_DO[0]" ;
IOBUF GROUP "Bank7VRef_DO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank7).
CLOCK_TO_OUT GROUP "Bank7VRef_DO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// IO Bank 7 Clock
LOCATE COMP "Bank7ClockPos_CO" SITE "K4" ;
IOBUF PORT "Bank7ClockPos_CO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank7).
CLOCK_TO_OUT PORT "Bank7ClockPos_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "Bank7ClockNeg_CO" SITE "K5" ;
IOBUF PORT "Bank7ClockNeg_CO" PULLMODE=DOWN ; // Voltage may vary (depends on Bank7).
CLOCK_TO_OUT PORT "Bank7ClockNeg_CO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;
