// Global configuration
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

// Global port configuration
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=NONE ;
OUTPUT ALLPORTS LOAD 1.0 pF ;

// Main clock (input from FX2)
LOCATE COMP "USBClock_CI" SITE "A9" ;// IFClock (from FX2)
IOBUF PORT "USBClock_CI" PULLMODE=DOWN ;

// Clock settings
FREQUENCY PORT "USBClock_CI" 30.0 MHz ;

FREQUENCY NET "USBClock_CI_c" 30.0 MHz ;
USE PRIMARY NET "USBClock_CI_c" ;

FREQUENCY NET "LogicClock_C" 90.0 MHz ;
USE PRIMARY NET "LogicClock_C" ;

// FX2 controls
LOCATE COMP "Reset_RI" SITE "G2" ;// PE7 CPLD Reset
IOBUF PORT "Reset_RI" PULLMODE=UP ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPISlaveSelect_ABI" SITE "J1" ;// PC3 CPLD SPI SlaveSelect (active-low)
IOBUF PORT "SPISlaveSelect_ABI" PULLMODE=UP ;
INPUT_SETUP PORT "SPISlaveSelect_ABI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIClock_AI" SITE "J2" ;// PC2 CPLD SPI Clock
IOBUF PORT "SPIClock_AI" PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIClock_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIMOSI_AI" SITE "K1" ;// PC1 CPLD SPI MOSI
IOBUF PORT "SPIMOSI_AI" PULLMODE=DOWN ;
INPUT_SETUP PORT "SPIMOSI_AI" INPUT_DELAY 1.0 ns HOLD 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "SPIMISO_DZO" SITE "K2" ;// PC0 CPLD SPI MISO
IOBUF PORT "SPIMISO_DZO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "SPIMISO_DZO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

// FX2 USB FIFO (data transmission)
LOCATE COMP "USBFifoWrite_SBO" SITE "A5" ;// SLWR
IOBUF PORT "USBFifoWrite_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 10.4 ns MIN 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoRead_SBO" SITE "G1" ;// SLOESLRD
IOBUF PORT "USBFifoRead_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 18.7 ns MIN 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoPktEnd_SBO" SITE "E1" ;// PktEnd
IOBUF PORT "USBFifoPktEnd_SBO" PULLMODE=UP ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 14.6 ns MIN 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoFullFlag_SI" SITE "L1" ;// FLAGB (EP6FULL)
IOBUF PORT "USBFifoFullFlag_SI" PULLMODE=DOWN ;
INPUT_SETUP PORT "USBFifoFullFlag_SI" INPUT_DELAY 9.5 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoProgrammableFlag_SBI" SITE "L2" ;// FLAGA (EP2EMPTY) (active-low)
IOBUF PORT "USBFifoProgrammableFlag_SBI" PULLMODE=UP ;
INPUT_SETUP PORT "USBFifoProgrammableFlag_SBI" INPUT_DELAY 9.5 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoAddress_DO[1]" SITE "E2" ;// FifoAddr1
LOCATE COMP "USBFifoAddress_DO[0]" SITE "F1" ;// FifoAddr0
DEFINE PORT GROUP "USBFifoAddress_DO"
"USBFifoAddress_DO[1]" 
"USBFifoAddress_DO[0]" ;
IOBUF GROUP "USBFifoAddress_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "USBFifoAddress_DO" OUTPUT_DELAY 25.0 ns MIN 10.0 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "USBFifoData_DO[15]" SITE "B5" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "A4" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "B4" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "A3" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "C2" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "C1" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "C3" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "D1" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "M1" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "M2" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "N1" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "N2" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "P1" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "P3" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "R1" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "R2" ;
DEFINE PORT GROUP "USBFifoData_DO"
"USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;
IOBUF GROUP "USBFifoData_DO" PULLMODE=DOWN ;
CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 9.2 ns MIN 0.0 ns CLKNET "USBClock_CI_c" ;

// CPLD controlled LEDs
LOCATE COMP "LED1_SO" SITE "R8" ;// CPLDLED1
IOBUF PORT "LED1_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED1_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;

LOCATE COMP "LED2_SO" SITE "T11" ;// CPLDLED2
IOBUF PORT "LED2_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED2_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "USBClock_CI_c" ;

LOCATE COMP "LED3_SO" SITE "R13" ;// CPLDLED3
IOBUF PORT "LED3_SO" PULLMODE=DOWN ;
CLOCK_TO_OUT PORT "LED3_SO" OUTPUT_DELAY 1.0 ns MIN 0.5 ns CLKNET "LogicClock_C" ;
