BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

// Main clock (input from FX2)
LOCATE COMP "USBClock_CI" SITE "A9" ;// IFClock (from FX2)

// Clock settings
FREQUENCY PORT "USBClock_CI" 48.0 MHz ;
FREQUENCY NET "USBClock_CI_c" 48.0 MHz ;
USE PRIMARY NET "USBClock_CI_c" ;
FREQUENCY NET "LogicClock_C" 96.0 MHz ;
USE PRIMARY NET "LogicClock_C" ;

// FX2 controls
LOCATE COMP "Reset_RI" SITE "G2" ;// PE7 CPLD Reset

LOCATE COMP "SPISlaveSelect_ABI" SITE "J1" ;// PC3 CPLD SPI SlaveSelect (active-low)
LOCATE COMP "SPIClock_AI" SITE "J2" ;// PC2 CPLD SPI Clock
LOCATE COMP "SPIMOSI_AI" SITE "K1" ;// PC1 CPLD SPI MOSI
LOCATE COMP "SPIMISO_ZO" SITE "K2" ;// PC0 CPLD SPI MISO
LOCATE COMP "BiasDiagSelect_SI" SITE "B1" ;// PE2 BiasDiagSelect

// FX2 USB FIFO (data transmission)
LOCATE COMP "USBFifoData_DO[15]" SITE "B5" ;
LOCATE COMP "USBFifoData_DO[14]" SITE "A4" ;
LOCATE COMP "USBFifoData_DO[13]" SITE "B4" ;
LOCATE COMP "USBFifoData_DO[12]" SITE "A3" ;
LOCATE COMP "USBFifoData_DO[11]" SITE "C2" ;
LOCATE COMP "USBFifoData_DO[10]" SITE "C1" ;
LOCATE COMP "USBFifoData_DO[9]" SITE "C3" ;
LOCATE COMP "USBFifoData_DO[8]" SITE "D1" ;
LOCATE COMP "USBFifoData_DO[7]" SITE "M1" ;
LOCATE COMP "USBFifoData_DO[6]" SITE "M2" ;
LOCATE COMP "USBFifoData_DO[5]" SITE "N1" ;
LOCATE COMP "USBFifoData_DO[4]" SITE "N2" ;
LOCATE COMP "USBFifoData_DO[3]" SITE "P1" ;
LOCATE COMP "USBFifoData_DO[2]" SITE "P3" ;
LOCATE COMP "USBFifoData_DO[1]" SITE "R1" ;
LOCATE COMP "USBFifoData_DO[0]" SITE "R2" ;
LOCATE COMP "USBFifoWrite_SBO" SITE "A5" ;// SLWR
LOCATE COMP "USBFifoRead_SBO" SITE "G1" ;// SLOESLRD
LOCATE COMP "USBFifoPktEnd_SBO" SITE "E1" ;// PktEnd
LOCATE COMP "USBFifoAddress_DO[1]" SITE "E2" ;// FifoAddr1
LOCATE COMP "USBFifoAddress_DO[0]" SITE "F1" ;// FifoAddr0
LOCATE COMP "USBFifoFullFlag_SI" SITE "L1" ;// FLAGB (EP6FULL)
LOCATE COMP "USBFifoProgrammableFlag_SBI" SITE "L2" ;// FLAGA (EP2EMPTY) (active-low)

DEFINE PORT GROUP "USBFifoData_DO"
"USBFifoData_DO[15]" 
"USBFifoData_DO[14]" 
"USBFifoData_DO[13]" 
"USBFifoData_DO[12]" 
"USBFifoData_DO[11]" 
"USBFifoData_DO[10]" 
"USBFifoData_DO[9]" 
"USBFifoData_DO[8]" 
"USBFifoData_DO[7]" 
"USBFifoData_DO[6]" 
"USBFifoData_DO[5]" 
"USBFifoData_DO[4]" 
"USBFifoData_DO[3]" 
"USBFifoData_DO[2]" 
"USBFifoData_DO[1]" 
"USBFifoData_DO[0]" ;

DEFINE PORT GROUP "USBFifoAddress_DO"
"USBFifoAddress_DO[1]" 
"USBFifoAddress_DO[0]" ;

// CPLD controlled LEDs
LOCATE COMP "LED1_SO" SITE "R8" ;// CPLDLED1
LOCATE COMP "LED2_SO" SITE "T11" ;// CPLDLED2
LOCATE COMP "LED3_SO" SITE "R13" ;// CPLDLED3

// Bias configuration
LOCATE COMP "ChipBiasEnable_SO" SITE "B7" ;
LOCATE COMP "ChipBiasDiagSelect_SO" SITE "A7" ;
//LOCATE COMP "ChipBiasBitOut_DI" SITE "B6" ;// from chip (debug)

// DVS data (AER bus)
LOCATE COMP "DVSAERData_AI[9]" SITE "R15" ;
LOCATE COMP "DVSAERData_AI[8]" SITE "R14" ;
LOCATE COMP "DVSAERData_AI[7]" SITE "T14" ;
LOCATE COMP "DVSAERData_AI[6]" SITE "T15" ;
LOCATE COMP "DVSAERData_AI[5]" SITE "R16" ;
LOCATE COMP "DVSAERData_AI[4]" SITE "P15" ;
LOCATE COMP "DVSAERData_AI[3]" SITE "P16" ;
LOCATE COMP "DVSAERData_AI[2]" SITE "N15" ;
LOCATE COMP "DVSAERData_AI[1]" SITE "N16" ;
LOCATE COMP "DVSAERData_AI[0]" SITE "M15" ;
LOCATE COMP "DVSAERReq_ABI" SITE "M16" ;
LOCATE COMP "DVSAERAck_SBO" SITE "L15" ;
LOCATE COMP "DVSAERReset_SBO" SITE "D16" ;// nReset on chip

DEFINE PORT GROUP "DVSAERData_AI"
"DVSAERData_AI[9]" 
"DVSAERData_AI[8]" 
"DVSAERData_AI[7]" 
"DVSAERData_AI[6]" 
"DVSAERData_AI[5]" 
"DVSAERData_AI[4]" 
"DVSAERData_AI[3]" 
"DVSAERData_AI[2]" 
"DVSAERData_AI[1]" 
"DVSAERData_AI[0]" ;

// APS data (chip)
LOCATE COMP "APSChipRowSRClock_SO" SITE "B16" ;
LOCATE COMP "APSChipRowSRIn_SO" SITE "C16" ;
LOCATE COMP "APSChipColSRClock_SO" SITE "A11" ;
LOCATE COMP "APSChipColSRIn_SO" SITE "B14" ;
LOCATE COMP "APSChipColMode_DO[1]" SITE "A15" ;
LOCATE COMP "APSChipColMode_DO[0]" SITE "A14" ;
LOCATE COMP "APSChipTXGate_SO" SITE "B13" ;

DEFINE PORT GROUP "APSChipColMode_DO"
"APSChipColMode_DO[1]" 
"APSChipColMode_DO[0]" ;

// APS data (external ADC)
LOCATE COMP "APSADCData_DI[9]" SITE "F15" ;
LOCATE COMP "APSADCData_DI[8]" SITE "G16" ;
LOCATE COMP "APSADCData_DI[7]" SITE "G15" ;
LOCATE COMP "APSADCData_DI[6]" SITE "H16" ;
LOCATE COMP "APSADCData_DI[5]" SITE "H15" ;
LOCATE COMP "APSADCData_DI[4]" SITE "J16" ;
LOCATE COMP "APSADCData_DI[3]" SITE "J15" ;
LOCATE COMP "APSADCData_DI[2]" SITE "K16" ;
LOCATE COMP "APSADCData_DI[1]" SITE "K15" ;
LOCATE COMP "APSADCData_DI[0]" SITE "L16" ;
LOCATE COMP "APSADCOverflow_SI" SITE "F16" ;
LOCATE COMP "APSADCClock_CO" SITE "E15" ;
LOCATE COMP "APSADCOutputEnable_SBO" SITE "E16" ;
LOCATE COMP "APSADCStandby_SO" SITE "D15" ;

DEFINE PORT GROUP "APSADCData_DI"
"APSADCData_DI[9]" 
"APSADCData_DI[8]" 
"APSADCData_DI[7]" 
"APSADCData_DI[6]" 
"APSADCData_DI[5]" 
"APSADCData_DI[4]" 
"APSADCData_DI[3]" 
"APSADCData_DI[2]" 
"APSADCData_DI[1]" 
"APSADCData_DI[0]" ;

// IMU (InvenSense MPU 6X50)
LOCATE COMP "IMUClock_ZO" SITE "T6" ;
LOCATE COMP "IMUData_ZIO" SITE "T5" ;
LOCATE COMP "IMUInterrupt_AI" SITE "A13" ;

// Multi-camera time synchronization
LOCATE COMP "SyncOutClock_CO" SITE "T13" ;
LOCATE COMP "SyncOutSwitch_AI" SITE "P11" ;
LOCATE COMP "SyncOutSignal_SO" SITE "P12" ;
LOCATE COMP "SyncInClock_AI" SITE "T2" ;
LOCATE COMP "SyncInSwitch_AI" SITE "T3" ;
LOCATE COMP "SyncInSignal_AI" SITE "T4" ;

// Setup & Hold time specifications
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 1.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "Reset_RI" INPUT_DELAY 1.0 ns HOLD 1.0 ns CLKNET "LogicClock_C" ;

CLOCK_TO_OUT GROUP "USBFifoData_DO" OUTPUT_DELAY 9.2 ns MIN 0.0 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT GROUP "USBFifoAddress_DO" OUTPUT_DELAY 25.0 ns MIN 10.0 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoWrite_SBO" OUTPUT_DELAY 10.4 ns MIN 0.0 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoRead_SBO" OUTPUT_DELAY 18.7 ns MIN 0.0 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "USBFifoPktEnd_SBO" OUTPUT_DELAY 14.6 ns MIN 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoFullFlag_SI" INPUT_DELAY 9.5 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;
INPUT_SETUP PORT "USBFifoProgrammableFlag_SBI" INPUT_DELAY 9.5 ns HOLD 0.0 ns CLKNET "USBClock_CI_c" ;

CLOCK_TO_OUT PORT "SPIMISO_ZO" OUTPUT_DELAY 1.0 ns MIN 1.0 ns CLKNET "LogicClock_C" ;
INPUT_SETUP PORT "SPISlaveSelect_ABI" INPUT_DELAY 1.0 ns HOLD 1.0 ns CLKNET "LogicClock_C" ;
INPUT_SETUP PORT "SPIClock_AI" INPUT_DELAY 1.0 ns HOLD 1.0 ns CLKNET "LogicClock_C" ;
INPUT_SETUP PORT "SPIMOSI_AI" INPUT_DELAY 1.0 ns HOLD 1.0 ns CLKNET "LogicClock_C" ;

CLOCK_TO_OUT PORT "LED1_SO" OUTPUT_DELAY 0.1 ns MIN 0.1 ns CLKNET "LogicClock_C" ;
CLOCK_TO_OUT PORT "LED2_SO" OUTPUT_DELAY 0.1 ns MIN 0.1 ns CLKNET "USBClock_CI_c" ;
CLOCK_TO_OUT PORT "LED3_SO" OUTPUT_DELAY 0.1 ns MIN 0.1 ns CLKNET "LogicClock_C" ;

CLOCK_TO_OUT PORT "DVSAERAck_SBO" OUTPUT_DELAY 1.0 ns MIN 1.0 ns CLKNET "LogicClock_C" ;
CLOCK_TO_OUT PORT "DVSAERReset_SBO" OUTPUT_DELAY 1.0 ns MIN 1.0 ns CLKNET "LogicClock_C" ;
INPUT_SETUP GROUP "DVSAERData_AI" INPUT_DELAY 1.0 ns HOLD 1.0 ns CLKNET "LogicClock_C" ;
INPUT_SETUP PORT "DVSAERReq_ABI" INPUT_DELAY 1.0 ns HOLD 1.0 ns CLKNET "LogicClock_C" ;

CLOCK_TO_OUT PORT "ChipBiasEnable_SO" OUTPUT_DELAY 1.0 ns MIN 1.0 ns CLKNET "LogicClock_C" ;
MAXDELAY FROM PORT "BiasDiagSelect_SI" TO PORT "ChipBiasDiagSelect_SO" 10 ns;

// Port configuration specifications
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=DOWN ;

OUTPUT ALLPORTS LOAD 1.0 pF ;
