rvl_alias "ifclockxci" "ifclockxci";

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK JTAGPATHS ;

FREQUENCY NET "IfClockxCI_c" 30.0 MHz ;
USE PRIMARY NET "IfClockxCI_c" ;

FREQUENCY NET "ClockxC" 60.0 MHz ;
USE PRIMARY NET "ClockxC" ;

IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;

// Clock and reset
LOCATE COMP "IfClockxCI" SITE "A9" ;
LOCATE COMP "ResetxRBI" SITE "G2" ;

// Synchronization
LOCATE COMP "SyncInCLKxABI" SITE "T2" ;
LOCATE COMP "SyncOutCLKxCBO" SITE "T13" ;

LOCATE COMP "SyncInSIGxABI" SITE "T4" ;
LOCATE COMP "SyncOutSIGxSBO" SITE "P12" ;

// IMU
LOCATE COMP "IMUSDAxSIO" SITE "T5";LOCATE COMP "IMUSCLxCIO" SITE "T6";

// Control flags (from FX2)
LOCATE COMP "PC0xSIO" SITE "K2" ;
LOCATE COMP "PC1xSIO" SITE "K1" ;
LOCATE COMP "PC2xSIO" SITE "J2" ;
LOCATE COMP "PC3xSIO" SITE "J1" ;
LOCATE COMP "PA0xSIO" SITE "H2" ;
LOCATE COMP "PA1xSIO" SITE "H1" ;
LOCATE COMP "PA3xSIO" SITE "F2" ;
LOCATE COMP "PA7xSIO" SITE "D2" ;
LOCATE COMP "PE2xSI" SITE "B1" ;
LOCATE COMP "PE3xSI" SITE "B2" ;
LOCATE COMP "FXLEDxSI" SITE "A2" ;

// DVS AER
LOCATE COMP "AERMonitorREQxABI" SITE "M16" ;
LOCATE COMP "AERMonitorACKxSBO" SITE "L15" ;
LOCATE COMP "AERMonitorAddressxDI_9" SITE "R15" ;
LOCATE COMP "AERMonitorAddressxDI_8" SITE "R14" ;
LOCATE COMP "AERMonitorAddressxDI_7" SITE "T15" ;
LOCATE COMP "AERMonitorAddressxDI_6" SITE "T14" ;
LOCATE COMP "AERMonitorAddressxDI_5" SITE "R16" ;
LOCATE COMP "AERMonitorAddressxDI_4" SITE "P15" ;
LOCATE COMP "AERMonitorAddressxDI_3" SITE "P16" ;
LOCATE COMP "AERMonitorAddressxDI_2" SITE "N15" ;
LOCATE COMP "AERMonitorAddressxDI_1" SITE "N16" ;
LOCATE COMP "AERMonitorAddressxDI_0" SITE "M15" ;

// FX2 data FIFO
LOCATE COMP "FX2FifoDataxDIO_15" SITE "B5" ;
LOCATE COMP "FX2FifoDataxDIO_14" SITE "A4" ;
LOCATE COMP "FX2FifoDataxDIO_13" SITE "B4" ;
LOCATE COMP "FX2FifoDataxDIO_12" SITE "A3" ;
LOCATE COMP "FX2FifoDataxDIO_11" SITE "C2" ;
LOCATE COMP "FX2FifoDataxDIO_10" SITE "C1" ;
LOCATE COMP "FX2FifoDataxDIO_9" SITE "C3" ;
LOCATE COMP "FX2FifoDataxDIO_8" SITE "D1" ;
LOCATE COMP "FX2FifoDataxDIO_7" SITE "M1" ;
LOCATE COMP "FX2FifoDataxDIO_6" SITE "M2" ;
LOCATE COMP "FX2FifoDataxDIO_5" SITE "N1" ;
LOCATE COMP "FX2FifoDataxDIO_4" SITE "N2" ;
LOCATE COMP "FX2FifoDataxDIO_3" SITE "P1" ;
LOCATE COMP "FX2FifoDataxDIO_2" SITE "P2" ;
LOCATE COMP "FX2FifoDataxDIO_1" SITE "R1" ;
LOCATE COMP "FX2FifoDataxDIO_0" SITE "R2" ;

DEFINE PORT GROUP "FX2FifoData"
"FX2FifoDataxDIO_15" 
"FX2FifoDataxDIO_14" 
"FX2FifoDataxDIO_13" 
"FX2FifoDataxDIO_12" 
"FX2FifoDataxDIO_11" 
"FX2FifoDataxDIO_10" 
"FX2FifoDataxDIO_9" 
"FX2FifoDataxDIO_8" 
"FX2FifoDataxDIO_7" 
"FX2FifoDataxDIO_6" 
"FX2FifoDataxDIO_5" 
"FX2FifoDataxDIO_4" 
"FX2FifoDataxDIO_3" 
"FX2FifoDataxDIO_2" 
"FX2FifoDataxDIO_1" 
"FX2FifoDataxDIO_0" ;

LOCATE COMP "FX2FifoWritexEBO" SITE "A5" ;
LOCATE COMP "FX2FifoReadxEBO" SITE "G1" ;
LOCATE COMP "FX2FifoPktEndxSBO" SITE "E1" ;
LOCATE COMP "FX2FifoAddressxDO_0" SITE "F1" ;
LOCATE COMP "FX2FifoAddressxDO_1" SITE "E2" ;
LOCATE COMP "FX2FifoInFullxSBI" SITE "L1" ;

CLOCK_TO_OUT GROUP "FX2FifoData" OUTPUT_DELAY 9.2 ns MIN 0.0 ns CLKNET "IfClockxCI_c" ;
CLOCK_TO_OUT PORT "FX2FifoWritexEBO" OUTPUT_DELAY 10.4 ns MIN 0.0 ns CLKNET "IfClockxCI_c" ;
CLOCK_TO_OUT PORT "FX2FifoReadxEBO" OUTPUT_DELAY 18.7 ns MIN 0.0 ns CLKNET "IfClockxCI_c" ;
CLOCK_TO_OUT PORT "FX2FifoPktEndxSBO" OUTPUT_DELAY 14.6 ns MIN 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "FX2FifoInFullxSBI" INPUT_DELAY 9.5 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
CLOCK_TO_OUT PORT "FX2FifoAddressxDO_0" OUTPUT_DELAY 25.0 ns MIN 10.0 ns CLKNET "IfClockxCI_c" ;
CLOCK_TO_OUT PORT "FX2FifoAddressxDO_1" OUTPUT_DELAY 25.0 ns MIN 10.0 ns CLKNET "IfClockxCI_c" ;

// Biases
LOCATE COMP "CDVSTestBiasEnablexEO" SITE "B7" ;
LOCATE COMP "CDVSTestChipResetxRBO" SITE "D16" ;
LOCATE COMP "CDVSTestBiasDiagSelxSO" SITE "A6";
LOCATE COMP "CDVSTestBiasBitOutxSI" SITE "B6" ;

// CPLD LEDs
LOCATE COMP "LED1xSO" SITE "R8" ;
LOCATE COMP "LED2xSO" SITE "T11" ;
LOCATE COMP "LED3xSO" SITE "R13" ;

// APS frame control
LOCATE COMP "CDVSTestSRRowClockxSO" SITE "B16" ;
LOCATE COMP "CDVSTestSRColClockxSO" SITE "A11" ;
LOCATE COMP "CDVSTestSRRowInxSO" SITE "C16" ;
LOCATE COMP "CDVSTestSRColInxSO" SITE "B14" ;
LOCATE COMP "CDVSTestColMode0xSO" SITE "A14";
LOCATE COMP "CDVSTestColMode1xSO" SITE "A15";
LOCATE COMP "CDVSTestApsTxGatexSO" SITE "B13" ;

LOCATE COMP "ADCclockxCO" SITE "E15" ;
LOCATE COMP "ADCoexEBO" SITE "E16" ;
LOCATE COMP "ADCstbyxEO" SITE "D15" ;

CLOCK_TO_OUT PORT "ADCclockxCO" OUTPUT_DELAY 5.0 ns MIN 1.5 ns CLKNET "IfClockxCI_c" ;
CLOCK_TO_OUT PORT "ADCoexEBO" OUTPUT_DELAY 10.0 ns MIN 1.5 ns CLKNET "IfClockxCI_c" ;
CLOCK_TO_OUT PORT "ADCstbyxEO" OUTPUT_DELAY 10.0 ns MIN 1.5 ns CLKNET "IfClockxCI_c" ;

LOCATE COMP "ADCovrxSI" SITE "F16" ;
LOCATE COMP "ADCwordxDI_9" SITE "F15" ;
LOCATE COMP "ADCwordxDI_8" SITE "G16" ;
LOCATE COMP "ADCwordxDI_7" SITE "G15" ;
LOCATE COMP "ADCwordxDI_6" SITE "H16" ;
LOCATE COMP "ADCwordxDI_5" SITE "H15" ;
LOCATE COMP "ADCwordxDI_4" SITE "J16" ;
LOCATE COMP "ADCwordxDI_3" SITE "J15" ;
LOCATE COMP "ADCwordxDI_2" SITE "K16" ;
LOCATE COMP "ADCwordxDI_1" SITE "K15" ;
LOCATE COMP "ADCwordxDI_0" SITE "L16" ;

//INPUT_SETUP PORT "ADCovrxSI" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ; -- not used anywhere!
INPUT_SETUP PORT "ADCwordxDI_9" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_8" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_7" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_6" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_5" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_4" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_3" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_2" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_1" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;
INPUT_SETUP PORT "ADCwordxDI_0" INPUT_DELAY 25 ns HOLD 0.0 ns CLKNET "IfClockxCI_c" ;

LOCATE COMP "DebugxSIO_15" SITE "T4" ;
LOCATE COMP "DebugxSIO_14" SITE "R5" ;
LOCATE COMP "DebugxSIO_12" SITE "R7" ;
LOCATE COMP "DebugxSIO_11" SITE "R9" ;
LOCATE COMP "DebugxSIO_10" SITE "R10" ;
LOCATE COMP "DebugxSIO_9" SITE "R11" ;
LOCATE COMP "DebugxSIO_8" SITE "R12" ;
LOCATE COMP "DebugxSIO_7" SITE "R4" ;
LOCATE COMP "DebugxSIO_5" SITE "R6" ;
LOCATE COMP "DebugxSIO_4" SITE "T7" ;
LOCATE COMP "DebugxSIO_3" SITE "T8" ;
LOCATE COMP "DebugxSIO_2" SITE "T10" ;
LOCATE COMP "DebugxSIO_1" SITE "T12" ;
LOCATE COMP "DebugxSIO_0" SITE "T13" ;

OUTPUT ALLPORTS LOAD 1.0 pF ;

IOBUF PORT "ResetxRBI" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "SyncInCLKxABI" IO_TYPE=LVCMOS33 PULLMODE=UP  ;
IOBUF PORT "SyncOutCLKxCBO" IO_TYPE=LVCMOS33 PULLMODE=UP  ;
IOBUF PORT "SyncInSIGxABI" IO_TYPE=LVCMOS33 PULLMODE=UP  ;
IOBUF PORT "SyncOutSIGxSBO" IO_TYPE=LVCMOS33 PULLMODE=UP  ;
IOBUF PORT "PE2xSI" IO_TYPE=LVCMOS33 PULLMODE=KEEPER ;
IOBUF PORT "AERMonitorREQxABI" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "FX2FifoDataxDIO_15" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_14" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_13" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_12" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_11" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_10" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_9" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_8" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_7" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_6" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_5" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_4" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_3" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_2" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_1" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoDataxDIO_0" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoWritexEBO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
IOBUF PORT "DebugxSIO_7" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "LED3xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "AERMonitorACKxSBO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=14 ;
IOBUF PORT "DebugxSIO_0" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_1" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_2" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_3" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_4" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_5" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "IMUSDAxSIO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
IOBUF PORT "DebugxSIO_7" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_8" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_9" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_10" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_11" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_12" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "IMUSCLxCIO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4;
IOBUF PORT "DebugxSIO_14" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "DebugxSIO_15" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "FX2FifoReadxEBO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
IOBUF PORT "FX2FifoPktEndxSBO" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
IOBUF PORT "FX2FifoAddressxDO_1" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
IOBUF PORT "FX2FifoAddressxDO_0" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=4 ;
IOBUF PORT "ADCclockxCO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "ADCoexEBO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "ADCstbyxEO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestSRRowClockxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestSRColClockxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestSRRowInxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestSRColInxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestBiasEnablexEO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestChipResetxRBO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestColMode0xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestColMode1xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestBiasDiagSelxSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "CDVSTestApsTxGatexSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "LED1xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "LED2xSO" IO_TYPE=LVCMOS33 PULLMODE=KEEPER DRIVE=4 ;
IOBUF PORT "AERMonitorAddressxDI_9" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_8" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_7" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_6" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_5" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_4" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_3" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_2" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_1" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
IOBUF PORT "AERMonitorAddressxDI_0" IO_TYPE=LVCMOS33 PULLMODE=DOWN ;
